<%= stylesheet_link_tag "interview" %>
<%= stylesheet_link_tag 'dlog_scroll' %>
<%= stylesheet_link_tag 'dlog_scroll_images_standalone' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay_basic' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay-gallery' %>

<%= javascript_include_tag 'jquery.tools.min' %>
<%= javascript_include_tag 'dlog_scroll' %>

<!-- 960 px wrapper -->
<div id="wrap">
  <!-- main starts -->
  <div id="main">
    <!-- main inner end -->
    <div id="main_inner">
      <div id="title"><h1>about us</h1></div>
    </div>
    <!-- main inner end -->
  </div>
  <!-- main end -->
</div>
<!-- 960 px wrapper ends -->

