<%= stylesheet_link_tag "interview" %>
<%= stylesheet_link_tag 'dlog' %>
<%= stylesheet_link_tag 'dlog_scroll' %>
<%= stylesheet_link_tag 'dlog_scroll_images_standalone' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay_basic' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay-gallery' %>

<%= javascript_include_tag 'jquery.tools.min' %>
<%= javascript_include_tag 'dlog_scroll' %>

<!-- 960 px wrapper -->
<div id="wrap">
  <div id="main"><!-- main starts -->
    <div id="main_inner"><!-- main inner end -->

      <div id="title">
        <h1><%=h @blog.blog_statement %></h1>
      </div>
      <div id="interview_top_links">
        <li><%=h @blog.created_at.strftime("%d %b %Y") %></li>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <li><%=h @blog.tag %></li>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      </div>

      <div id="interview_img_with_txt">
        <%= image_tag @blog.author_photo.url(:large) %>
      </div>
      <%= RedCloth.new(@blog.blog_content).to_html %>
      <div id="interview_works">
          <%= render :partial =>"slider_images" %>
      </div>
      <%= RedCloth.new(@blog.extended_content).to_html %>

      <div id="interview_bottom_links">
        <li><%=h @blog.created_at.strftime("%d %b %Y") %></li>&nbsp;&nbsp;|&nbsp;&nbsp;
        <li><%=h @blog.tag %></li>
      </div>
      
      <div id="publish_btn">
        <a href="/blogs/edit/<%= @blog.id %>"></a>
      </div>
     
    </div><!-- main inner end -->
  </div><!-- main end -->
 
  <!-- sidebar starts-->
  <div id="sidebar">
    <%= render :partial => "vCard" %>
    <%= render :partial => "facebook_fans" %>
  </div>
  <!-- sidebar ends -->

</div>
<!-- 960 px wrapper ends -->

