<%= stylesheet_link_tag "interview" %>
<%= stylesheet_link_tag 'dlog' %>
<%= stylesheet_link_tag 'dlog_scroll' %>
<%= stylesheet_link_tag 'dlog_scroll_images_standalone' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay_basic' %>
<%= stylesheet_link_tag 'dlog_scroll_images_overlay-gallery' %>


<%= javascript_include_tag 'jquery.tools.min' %>
<%= javascript_include_tag 'dlog_scroll' %>


<!--portfolios light box css & js-->
<% if @blog.name== "Suresh Eriyat" then %>
  <%= stylesheet_link_tag '/video/lightbox_css/videobox' %>
  <%= javascript_include_tag '/video/lightbox_js/mootools' %>
  <%= javascript_include_tag '/video/lightbox_js/swfobject' %>
  <%= javascript_include_tag '/video/lightbox_js/videobox' %>
<%end%>
<!--portfolios light box css & js-->
<% if @blog.name== "Sandip Paul" or @blog.name== "Satya Rajpurohit" then %>
  <style type="text/css">
    #triggers {
      text-align: left;
      width: 635px;
    }
    #triggers img {
      -moz-border-radius:0px;
      -webkit-border-radius:0px;
    }
    
  </style>
<%  end %>
<!-- 960 px wrapper -->
<div id="wrap">
  <!-- main starts -->
  <div id="main">
    <!-- main inner end -->
    <div id="main_inner">

      <h1><%=h @blog.blog_statement %></h1>
      <div id="interview_top_links">
        <li><%=h @blog.created_at.strftime("%d %b %Y") %></li>&nbsp;&nbsp;|&nbsp;&nbsp;
        <% if @blog.name == 'Rahul Mishra' %>
          <li><%=h @blog.tag %> by Nitesh</li>&nbsp;&nbsp;|&nbsp;&nbsp;
        <% elsif @blog.name == 'Satya Rajpurohit' %>
          <li><%=h @blog.tag %> by Shankar V Narayan</li>
           <% elsif @blog.name == 'Satyajeet Kumar' %>
          <li><%=h @blog.tag %> by Neha Saraswat</li>
        <% else %>
          <li><%=h @blog.tag %></li>
        <% end %>
      </div>

      
      
        <div id="interview_img_with_txt"><%= image_tag @blog.author_photo.url(:large) %></div>
        

      
      <%= RedCloth.new(@blog.blog_content).to_html %>

      <% if @blog.name== "Suresh Eriyat" then %>
        <style type="text/css">
          #scroll_bg {
            display: none;
          }
        </style>
        <div id="interview_video_works">
          <a  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046068&autoplay=1">
            <img src="../images/03_ESuresh/Usha.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045744&autoplay=1">
            <img src="../images/03_ESuresh/Bingo-Caveman.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045852&autoplay=1">
            <img src="../images/03_ESuresh/Bingo-International.jpg"/>
          </a>
          <a class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12045889&autoplay=1">
            <img src="../images/03_ESuresh/Bingo-Parade.jpg"/>
          </a>

          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12046015&autoplay=1">
            <img src="../images/03_ESuresh/Bingo-Trampoline.jpg"/>
          </a>

          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355606&autoplay=1">
            <img src="../images/03_ESuresh/_001.jpg"/>
          </a>
          <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355589&autoplay=1">
            <img src="../images/03_ESuresh/_002.jpg"/>
          </a>
          <a  class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355569&autoplay=1">
            <img src="../images/03_ESuresh/_003.jpg"/>
          </a>

          <div class="clear"></div>
        </div>
      <%end%>
       
      <!---------------------------------)()()()()(|| image slider ||)()()()()()()(------------------------------------>
      <% else if @blog.name== "Sandip Paul" then %>
        <div id="portfolio_works"><!-- portfolio_works div -->
          <div id="triggers">
            <div id="interview_video_works">
              <a alt="ATE is a double bladed stainless steel pencil sharpener which effectively sharpens large and small pencils to a comfortable sharp tip every time." href="../images/04_sandippaul/ATE-01--paul-sandip.jpg">
                <img src="../images/04_sandippaul/Thumbnails/ATE-01--paul-sandip.jpg"/>
              </a>
              <a alt="ATE is a double bladed stainless steel pencil sharpener which effectively sharpens large and small pencils to a comfortable sharp tip every time." href="../images/04_sandippaul/ATE-02--paul-sandip.jpg">
                <img src="../images/04_sandippaul/Thumbnails/ATE-02--paul-sandip.jpg"/>
              </a>
              <a alt="It is a cloth line clip to be used as a daily life utility product for both indoor as well as outdoor application. Clip fulfills more than it promises, not only in use, but the perceived pleasure is far than expected." href="../images/04_sandippaul/clip_hanging-.jpg">
                <img src="../images/04_sandippaul/Thumbnails/clip_hanging-.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="It is a cloth line clip to be used as a daily life utility product for both indoor as well as outdoor application. Clip fulfills more than it promises, not only in use, but the perceived pleasure is far than expected." href="../images/04_sandippaul/clip_in-use.jpg">
                <img src="../images/04_sandippaul/Thumbnails/clip_in-use.jpg"/>
              </a>


              <a  alt="It is a cloth line clip to be used as a daily life utility product for both indoor as well as outdoor application. Clip fulfills more than it promises, not only in use, but the perceived pleasure is far than expected." href="../images/04_sandippaul/Clip_paul-sandip.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Clip_paul-sandip.jpg"/>
              </a>
              <a  alt="It is a cloth line clip to be used as a daily life utility product for both indoor as well as outdoor application. Clip fulfills more than it promises, not only in use, but the perceived pleasure is far than expected." href="../images/04_sandippaul/clip---color-variants.jpg">
                <img src="../images/04_sandippaul/Thumbnails/clip---color-variants.jpg"/>
              </a>
              <a alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug---packaging-of-3.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug---packaging-of-3.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug---folded.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug---folded.jpg"/>
              </a>


              <a alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug---from-open-to-close.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug---from-open-to-close.jpg"/>
              </a>
              <a  alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug---in-hand.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug---in-hand.jpg"/>
              </a>
              <a  alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug---in-use.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug---in-use.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="Indians prefer water to toilet paper. Presently people find out affordance of other utility products available during journey and slightly modify it to use for washing after defecation." href="../images/04_sandippaul/Disposable-Mug-_in-train-lavatory.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Disposable-Mug-_in-train-lavatory.jpg"/>
              </a>

              <div class="clear"></div>
            </div>
          <% elsif @blog.name== "Satya Rajpurohit" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">
                  <a alt="Letter 'I' from Kohinoor Devanagari Bold showing its various development phases." href="../images/Satya_rajpurohit/01_Development_of_a_Letter.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/01_Development_of_a_Letter_thumbnail.jpg"/>
                  </a>
                  <a alt="Image showing different characters from Fedra Hindi. Typotheque, 2009" href="../images/Satya_rajpurohit/04_Fedra-Hindi-__-Characters.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/04_Fedra-Hindi-__-Characters_thumbnail.jpg"/>
                  </a>
                  <a  alt="Image showing styles and the various text settings of Fedra Hindi. Typotheque, 2009" href="../images/Satya_rajpurohit/05_Fedra-Hindi-__-Styles.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/05_Fedra-Hindi-__-Styles_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="Star Plus is now using Fedra Hindi and Latin as their new corporate typefaces." href="../images/Satya_rajpurohit/06_FedraHindi_in_use.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/06_FedraHindi_in_use_thumbnail.jpg"/>
                  </a>


                  <a  alt="A Bengali companion to the InterFace Latin. Designed as part of diploma project at NID. Dalton Maag, London 2008" href="../images/Satya_rajpurohit/07_InterFace-Bengali-__-Dalton-Maag.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/07_InterFace-Bengali-__-Dalton-Maag_thumbnail.jpg"/>
                  </a>
                  <a  alt="InterFace Bengali in progress. Spacing the characters" href="../images/Satya_rajpurohit/08_InterFace-Bengali-__-Spacing.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/08_InterFace-Bengali-__-Spacing_thumbnail.jpg"/>
                  </a>
                  <a  alt="Sample preview of Kohinoor Multiscript. Kohinoor Multiscript is the biggest type family ever made to support all the 9 Indian scripts along with Latin. The work is in progress." href="../images/Satya_rajpurohit/12_Kohinoor-Multiscript.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/12_Kohinoor-Multiscript_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="A correction sheet showing Kohinoor Devanagari in progress. Expected release, August 2010." href="../images/Satya_rajpurohit/09_Kohinoor-Devanagari-Light-__-Correction-Sheet.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/09_Kohinoor-Devanagari-Light-__-Correction-Sheet_thumbnail.jpg"/>
                  </a>


                  <a  alt="The correction sheet of an upcoming modern Devanagari typeface." href="../images/Satya_rajpurohit/16_Rajdhani-Hindi__Correction-Sheet.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/16_Rajdhani-Hindi__Correction-Sheet_thumbnail.jpg"/>
                  </a>
                  <a  alt="Image showing styles and the text settings of Kohinoor Tamil." href="../images/Satya_rajpurohit/13_Kohinoor-Tamil-__-Styles.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/13_Kohinoor-Tamil-__-Stylesthumbnail.jpg"/>
                  </a>

                  <a alt="Image showing styles and the text settings of Kohinoor Tamil." href="../images/Satya_rajpurohit/14_Kohinoor-Tamil-__-Styles02.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/14_Kohinoor-Tamil-__-Styles02_thumbnail.jpg"/>
                  </a>

                  <a class="interview_video_works_space" alt="Kohinoor Tamil Light in progress." href="../images/Satya_rajpurohit/15_Kohinoor-Tamil-Light-Italic-__-Correction-Sheet.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/15_Kohinoor-Tamil-Light-Italic-__-Correction-Sheet_thumbnail.jpg"/>
                  </a>


                  <a alt="The complete characters set of Kohinoor Latin. Kohinoor Latin comes in a total 10 styles; Light, Book, Demi, Medium, Bold and their italics. The Indian Type Foundry, 2010" href="../images/Satya_rajpurohit/10_Kohinoor-Latin-__-Characters-Set.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/10_Kohinoor-Latin-__-Characters-Set_thumbnail.jpg"/>
                  </a>
                  <a  alt="Image showing styles and the text settings of Kohinoor Latin. The Indian Type Foundry, 2010" href="../images/Satya_rajpurohit/11_Kohinoor-Latin-__-Styles.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/11_Kohinoor-Latin-__-Styles_thumbnail.jpg"/>
                  </a>
                  <a alt="A corrections sheet showing Engrez Sans in development. Dalton Maag, London 2009" href="../images/Satya_rajpurohit/02_Engrez-Sans-__-Correction-Sheet.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/02_Engrez-Sans-__-Correction-Sheet_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="The characters set of Engrez Sans. Engrez comes in a total 6 styles; Hailine, Light, Book, Regular, Medium and the Bold. Dalton Maag, London 2009" href="../images/Satya_rajpurohit/03_Engrez-Sans-Bold-__-Characters-Set.jpg">
                    <img src="../images/Satya_rajpurohit/Thumbnails/03_Engrez-Sans-Bold-__-Characters-Set_thumbnail.jpg"/>
                  </a>

                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
             <% elsif @blog.name== "Satyajeet Kumar" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">
                  <a alt="Bamboo furniture" href="../images/SatyajeetKumar/1_bamboo-furniture-view-1.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/1_bamboo-furniture-view-2_thumbnail.jpg"/>
                  </a>
                   <a alt="Bamboo furniture" href="../images/SatyajeetKumar/2_bamboo-furniture-view-2.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/2_bamboo-furniture-view-1_thumbnail.jpg"/>
                  </a>
                   <a alt="Upright and low sitting co-designed with Abhijeet Kumar" href="../images/SatyajeetKumar/3_upright-and-low-sitting-co-designed-with-Abhijeet--Kumar-view-1.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/3_upright-and-low-sitting-co-designed-with-Abhijeet--Kumar-view-1_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="Upright and low sitting co-designed with Abhijeet Kumar" href="../images/SatyajeetKumar/4_upright-and-low-sitting-co-designed-with-Abhijeet--Kumar-view-2.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/4_upright-and-low-sitting-co-designed-with-Abhijeet--Kumar-view-2_thumbnail.jpg"/>
                  </a>

                  <a alt="Visual comlexity through functional simplicity co-designed with Abhijeet Kumar" href="../images/SatyajeetKumar/5_visual-comlexity-through-functional-simplicity-co-designed-with-Abhijeet-Kumar.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/5_visual-comlexity-through-functional-simplicity-co-designed-with-Abhijeet-Kumar_thumbnail.jpg"/>
                  </a>
                   <a alt="Ear ring co-designed with Abhijeet for Anuj Sharma's Lakme fashion Show" href="../images/SatyajeetKumar/6_ear-ring-co-designed-with-Abhijeet-for-Anuj-Sharmas-Lakme-fashion-Show.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/6_ear-ring-co-designed-with-Abhijeet-for-Anuj-Sharmas-Lakme-fashion-Show_thumbnail.jpg"/>
                  </a>
                   <a alt="Water saving tap on wash basin" href="../images/SatyajeetKumar/7_water-saving-tap-on-wash-basin-view-1.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/7_water-saving-tap-on-wash-basin-view-1_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="Water saving tap on wash basin" href="../images/SatyajeetKumar/8_water-saving-tap-on-wash-basin-view-2.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/8_water-saving-tap-on-wash-basin-view-2_thumbnail.jpg"/>
                  </a>

                  <a alt="Cockpit Procedure Trainer" href="../images/SatyajeetKumar/9_.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/9_Cockpit-Procedure-Trainer-view-2_thumbnail.jpg"/>
                  </a>
                   <a alt="Cockpit Procedure Trainer" href="../images/SatyajeetKumar/10_Cockpit-Procedure-Trainer-view-2.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/10_Cockpit-Procedure-Trainer-view-1_thumbnail.jpg"/>
                  </a>
                   <a alt="Topolate lightplate on animator's table" href="../images/SatyajeetKumar/11_topolate-lightplate-on-animators-table.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/11_topolate-lightplate-on-animators-table_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="Topolate TYOS" href="../images/SatyajeetKumar/12_topolate-TYOS.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/12_topolate-TYOS_thumbnail.jpg"/>
                  </a>

                  <a alt="Adaptor for topolate" href="../images/SatyajeetKumar/13_Adaptor-for-topolate.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/13_Adaptor-for-topolate_thumbnail.jpg"/>
                  </a>
                   <a alt="Adaptor for topolate" href="../images/SatyajeetKumar/14_topolate-lightplate.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/14_topolate-lightplate_thumbnail.jpg"/>
                  </a>
                   <a alt="Topolate lightwedge" href="../images/SatyajeetKumar/15_topolate-lightwedge-2.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/15_topolate-lightwedge-2_thumbnail.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="Topolate lightwedge" href="../images/SatyajeetKumar/16_topolate-lightwedge.jpg">
                    <img src="../images/SatyajeetKumar/Thumbnails/16_topolate-lightwedge_thumbnail.jpg"/>
                  </a>
               
                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
          <%elsif @blog.name=="designdaku" then%>
            <!---------------------------------)()()()()(|| image slider |Desine Daku|)()()()()()()(------------------------------------>
    <div id="portfolio_works"><!-- portfolio_works div -->
          <div id="triggers">
            <div id="interview_video_works">
              <a alt="Expo stall for ABP Induction, Ahmedabad with an intent to glamourise an otherwise unglamorous product (induction furnaces)." href="../images/DesignDaku/01ABP-Induction-Expo-Stall.jpg">
                <img src="../images/DesignDaku/thumbnail/01ABP-Induction-Expo-Stall_thumbnail.jpg"/>
              </a>
              <a alt="Multi-use LED Lantern for Andslite targeted at the deep rural market. " href="../images/DesignDaku/02Andslite-LED-Lantern.jpg">
                <img src="../images/DesignDaku/thumbnail/02Andslite-LED-Lantern_thumbnail.jpg"/>
              </a>
              <a alt="Part of a self-initiated, self-branded range of LED lighting solutions." href="../images/DesignDaku/03Arthropoda-Lamp-1.jpg">
                <img src="../images/DesignDaku/thumbnail/03Arthropoda-Lamp-1_thumbnail.jpg"/>
              </a>
              <a alt="Part of a self-initiated, self-branded range of LED lighting solutions." href="../images/DesignDaku/04Arthropoda-Lamp-2.jpg" class="interview_video_works_space">
                <img src="../images/DesignDaku/thumbnail/04Arthropoda-Lamp-2_thumbnail.jpg"/>
              </a>

              <a alt="Complete branding & strategy solution for Aeon Special Vehicles, a Delhi-based maker of customised, special-use vehicles." href="../images/DesignDaku/05ASV-Branding.jpg">
                <img src="../images/DesignDaku/thumbnail/05ASV-Branding_thumbnail.jpg"/>
              </a>
              <a alt="A dual-handed, sagittal saw for large bone orthopedic surgery." href="../images/DesignDaku/0617ZeeSaw-Oscillator-For-Orthopedic-Surgery.jpg">
                <img src="../images/DesignDaku/thumbnail/16ZeeSaw-Oscillator-For-Orthopedic-Surgery_thumbnail.jpg"/>
              </a>
              <a alt="Auto Expo stall for Hero Electric centred around the theme 'The Future Is Sexy'." href="../images/DesignDaku/07Hero-Electric-Expo-Stall.jpg">
                <img src="../images/DesignDaku/thumbnail/07Hero-Electric-Expo-Stall_thumbnail.jpg"/>
              </a>
              <a alt="Restyled immersion heater for Indoma Industries, a Delhi-based maker of home appliances." href="../images/DesignDaku/08Immersion-Heater-for-Indoma.jpg" class="interview_video_works_space">
                <img src="../images/DesignDaku/thumbnail/08Immersion-Heater-for-Indoma_thumbnail.jpg"/>
              </a>

               <a alt="Complete branding & strategy solution for Pune-based dance studio 'Naach'." href="../images/DesignDaku/09Naach-Branding.jpg">
                <img src="../images/DesignDaku/thumbnail/09Naach-Branding_thumbnail.jpg"/>
              </a>
              <a alt="An ultra-low footprint, thin computing platform with integrated cable management solutions." href="../images/DesignDaku/10NetPC-Thin-Computer.jpg">
                <img src="../images/DesignDaku/thumbnail/10NetPC-Thin-Computer_thumbnail.jpg"/>
              </a>
              <a alt="A robust stainless steel and ABS construction vacuum flask aimed at hikers and trekkers." href="../images/DesignDaku/11Nomad-Vaccum-Flask.jpg">
                <img src="../images/DesignDaku/thumbnail/11Nomad-Vaccum-Flask_thumbnail.jpg"/>
              </a>
              <a alt="Complete branding & strategy solution for New York based fashion house." href="../images/DesignDaku/12Se-Sens-Serene-Branding.jpg" class="interview_video_works_space">
                <img src="../images/DesignDaku/thumbnail/12Se-Sens-Serene-Branding_thumbnail.jpg"/>
              </a>

              <a alt="Luggage carriers for sporty motorcycles for Studds." href="../images/DesignDaku/13Studds-Motorcycle-Pannier.jpg">
                <img src="../images/DesignDaku/thumbnail/13Studds-Motorcycle-Pannier_thumbnail.jpg"/>
              </a>
              <a alt="Part of a self-initiated, self-branded range of LED lighting solutions." href="../images/DesignDaku/14Tree-of-Souls-Modular-LED-Lighting-System.jpg">
                <img src="../images/DesignDaku/thumbnail/14Tree-of-Souls-Modular-LED-Lighting-System_thumbnail.jpg"/>
              </a>
              <a alt="Design of fishing vessel for Fibroplast Marine with a V-hull concept." href="../images/DesignDaku/15Triton-Monohull-Fishing-Vessel.jpg">
                <img src="../images/DesignDaku/thumbnail/15Triton-Monohull-Fishing-Vessel_thumbnail.jpg"/>
              </a>
              <a alt="Expo stall for Vodafone with the intent of maximising footfalls." href="../images/DesignDaku/16Vodafone-Expo-Stall.jpg" class="interview_video_works_space">
                <img src="../images/DesignDaku/thumbnail/16Vodafone-Expo-Stall_thumbnail.jpg"/>
              </a>

              <div class="clear"></div>
            </div>
          </div>
       <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
    </div>
          <% elsif @blog.name== "Rajesh Dahiya" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">

                  <a alt=" " href="../../images/Rajesh_Dhaiya/1_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/1.jpg"/>
                  </a>
                  <a alt="Project Title: Curriculum Redesign for Graphic Design Undergraduate Program
                     The project aimed to review the original undergraduate curriculum for graphic design faculty and propose a new program that reflects the changing scape of communication, society and design by embracing technology, design research & writing and multi-disciplinary education." href="../../images/Rajesh_Dhaiya/2_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/2.jpg"/>
                  </a>
                  <a alt="With the objective of providing a platform to emerging artists and new arts in India, Rajesh became an active visual arts curator and brand identity designer for the Mocha Arthouse in New Delhi, India. The identity was conceived as a dynamic entity, drawing from different genres of the arts, and approachable to break existing elitist attitudes to art consumption." href="../../images/Rajesh_Dhaiya/3_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/3.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="With the objective of providing a platform to emerging artists and new arts in India, Rajesh became an active visual arts curator and brand identity designer for the Mocha Arthouse in New Delhi, India. The identity was conceived as a dynamic entity, drawing from different genres of the arts, and approachable to break existing elitist attitudes to art consumption." href="../../images/Rajesh_Dhaiya/5_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/5.jpg"/>
                  </a>

                  <a alt="As a curator, Rajesh’s mandate has been to showcase art that has deep roots in Indian culture, but is contemporary in its expression." href="../../images/Rajesh_Dhaiya/7_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/7.jpg"/>
                  </a>
                  <a alt=" " href="../../images/Rajesh_Dhaiya/8_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/8.jpg"/>
                  </a>
                  <a alt=" " href="../../images/Rajesh_Dhaiya/9_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/9.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="" href="../../images/Rajesh_Dhaiya/10_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/10.jpg"/>
                  </a>

                  <a alt=" " href="../../images/Rajesh_Dhaiya/11_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/11.jpg"/>
                  </a>
                  <a alt="Dekko is an attempt to document inspirational examples of visual communication with in the Indian context. The need for this project stemmed from the lack of awareness pertaining to visual communication design in India, by Indians. Dekko is a work in progress." href="../../images/Rajesh_Dhaiya/12_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/12.jpg"/>
                  </a>
                  <a alt="The visual identity for Enigma stands out with its play on the activities that a healthier lifestyle allows people to do with zest—Run, Stretch, Push, Jump, with bold energetic type and powerful illustrations." href="../../images/Rajesh_Dhaiya/13_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/13.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="" href="../../images/Rajesh_Dhaiya/14_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/14.jpg"/>
                  </a>
                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
          <% elsif @blog.name== "Anusha Yadav" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">

                  <a alt="Paro Anand, Author/Story Teller, New Delhi" href="../../images/Anusha_Yadav/01_MG_1148.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/01_MG_1148_thumbnail.jpg"/>
                  </a>
                  <a alt="Rakhi Sawant, on a break during the shoot of The 'Rakhi Sawant Show', Mumbai. Client- Verve Magazine." href="../../images/Anusha_Yadav/02_MG_9772.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/02_MG_9772_thumbnail.jpg"/>
                  </a>
                  <a  alt="Dreams Bar, Cochin" href="../../images/Anusha_Yadav/0313_After-Dark_AY_CCH.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/0313_After-Dark_AY_CCH_thumbnail.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Rajat Kapoor, in his office in Santa Cruz, Mumbai" href="../../images/Anusha_Yadav/04AY_IMG_5490_rajat.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/04AY_IMG_5490_rajat_thumbnail.jpg"/>
                  </a>


                   <a alt="Birthday party, Mumbai" href="../../images/Anusha_Yadav/05AYadav-0192.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/05AYadav-0192_thumbnail.jpg"/>
                  </a>
                  <a alt="Brunch in Mumbai" href="../../images/Anusha_Yadav/06AYadav-4312.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/06AYadav-4312_thumbnail.jpg"/>
                  </a>
                  <a  alt="Waheeda Rahman Rekhi, at home, Mumbai" href="../../images/Anusha_Yadav/07AYadav-8812.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/07AYadav-8812_thumbnail.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Czech Republic At the Intersport Ranch, with her horse Baron.
Bartender and Horse Rider" href="../../images/Anusha_Yadav/08AYadav_Checq-Republic-5834.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/08AYadav_Checq-Republic-5834_thumbnail.jpg"/>
                  </a>


                   <a alt="IRAN By the banks of Salzach Student of Graphic Design" href="../../images/Anusha_Yadav/09AYadav_Iran-7321.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/09AYadav_Iran-7321_thumbnail.jpg"/>
                  </a>
                  <a alt="Tanzania At the Afro Bar. Student of International Studies" href="../../images/Anusha_Yadav/10AYadav_Tanzania-9161.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/10AYadav_Tanzania-9161_thumbnail.jpg"/>
                  </a>
                  <a  alt="Terror Souvenirs, Gateway of India, Mumbai" href="../../images/Anusha_Yadav/11IMG_3876H.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/11IMG_3876H_thumbnail.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Rajendra Yadav, Hindi Literateur & Magazine Editor" href="../../images/Anusha_Yadav/12IMG_4553H.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/12IMG_4553H_thumbnail.jpg"/>
                  </a>

                   <a alt="Irrfan Khan being primed by hair stylist Hakim Ali for a 'look test', in his vanity van. Mehboob Studio, Mumbai" href="../../images/Anusha_Yadav/13IMG_6652.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/13IMG_6652_thumbnail.jpg"/>
                  </a>
                  <a alt="Concert Flourish, Mumbai" href="../../images/Anusha_Yadav/14IMG_7557H.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/14IMG_7557H_thumbnail.jpg"/>
                  </a>
                  <a  alt="Banquet Hall, New Delhi" href="../../images/Anusha_Yadav/15IMG_9905.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/15IMG_9905_thumbnail.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Ambedkar Jayanti, Mumbai" href="../../images/Anusha_Yadav/16VR-image.jpg">
                    <img src="../../images/Anusha_Yadav/Thumbnails/16VR-image_thumbnail.jpg"/>
                  </a>
                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
            <% elsif @blog.name== "Vidyadhar Pande" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">
                  <a alt="Paro Anand, Author/Story Teller, New Delhi" href="../../images/Vidyadhar_pande/Ashok_Leyland_iBus.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Ashok_Leyland_iBus.jpg"/>
                  </a>
                  <a alt="Rakhi Sawant, on a break during the shoot of The 'Rakhi Sawant Show', Mumbai. Client- Verve Magazine." href="../../images/Vidyadhar_pande/Ashok_Leyland_Panther.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Ashok_Leyland_Panther.jpg"/>
                  </a>
                  <a  alt="Dreams Bar, Cochin" href="../../images/Vidyadhar_pande/Eicher_Cruiser.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Eicher_Cruiser.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Rajat Kapoor, in his office in Santa Cruz, Mumbai" href="../../images/Vidyadhar_pande/Eicher_Exports.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Eicher_Exports.jpg"/>
                  </a>


                   <a alt="Birthday party, Mumbai" href="../../images/Vidyadhar_pande/Eicher_LCV_Dash.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Eicher_LCV_Dash.jpg"/>
                  </a>
                  <a alt="Brunch in Mumbai" href="../../images/Vidyadhar_pande/Eicher_Truck_Dashboard.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Eicher_Truck_Dashboard.jpg"/>
                  </a>
                  <a  alt="Waheeda Rahman Rekhi, at home, Mumbai" href="../../images/Vidyadhar_pande/London_Double_Decker.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/London_Double_Decker.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Czech Republic At the Intersport Ranch, with her horse Baron.
                    Bartender and Horse Rider" href="../../images/Vidyadhar_pande/L&T_mini_Loader.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/L&T_mini_Loader.jpg"/>
                  </a>
                   <a alt="IRAN By the banks of Salzach Student of Graphic Design" href="../../images/Vidyadhar_pande/Macalac-Loader.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Macalac-Loader.jpg"/>
                  </a>
                  <a alt="Tanzania At the Afro Bar. Student of International Studies" href="../../images/Vidyadhar_pande/NIMR_PROTO.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/NIMR_PROTO.jpg"/>
                  </a>
                  <a  alt="Terror Souvenirs, Gateway of India, Mumbai" href="../../images/Vidyadhar_pande/Tata_Front_Engine_Low_Floor.jpg">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Tata_Front_Engine_Low_Floor.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Rajendra Yadav, Hindi Literateur & Magazine Editor" href="../../images/Vidyadhar_pande/Tata_Globus.JPG">
                    <img src="../../images/Vidyadhar_pande/Thumbnails/Tata_Globus.JPG"/>
                  </a>
                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>

            <% elsif @blog.name== "Rupesh Vyas" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">

                 <a alt="Proud citizens of India display their Multipurpose National Identity Cards (MNIC)" href="../../images/rupesh_vyas/citizens_with_MNIC_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/citizens_with_MNIC_thumb.jpg"/>
                  </a>

                  <a alt="The Multipurpose National Identity Card (MNIC) is a smart card. Shown here is a card reader that reads the information from the MNIC" href="../../images/rupesh_vyas/MNIC_card_reader_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/MNIC_card_reader_thumb.jpg"/>
                  </a>

                  <a  alt="Census 2011 forms in the process of development. Almost 2 million forms were printed and tested in the field in a massive pre-census testing activity" href="../../images/rupesh_vyas/census2011_forms_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/census2011_forms_thumb.jpg"/>
                  </a>

                   <a class="interview_video_works_space"  alt="Census 2011 activity in progress at one of the residences on the NID Campus. Primary school teachers all over India go to houses and collect census data" href="../../images/rupesh_vyas/census_NIDCampus_2_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/census_NIDCampus_2_thumb.jpg"/>
                  </a>

                   <a alt="A census enumerator noting down the details in the census form in Gujarati. The census 2011 forms were designed in the entire set of 16 different Indian scripts" href="../../images/rupesh_vyas/census_NIDCampus_1_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/census_NIDCampus_1_thumb.jpg"/>
                  </a>
                  <a alt="Field testing of the designs for the Unified Driving License project" href="../../images/rupesh_vyas/Driving License _fieldtest_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/Driving License _fieldtest_thumb.jpg"/>
                  </a>
                  <a  alt="Data visualization of user observations at the Kempegauda Bus Terminus, done as a part of the Strategic Information Design and Branding project for BMTC City Transport System" href="../../images/rupesh_vyas/bmtc_1_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/bmtc_1_thumb.jpg"/>
                  </a>
                   <a class="interview_video_works_space"  alt="Suggested graphics for various bus types and proposed icons, signs and symbols for the BMTC City Transport System" href="../../images/rupesh_vyas/bmtc_2_main.jpg">
                    <img src="../../images/rupesh_vyas/thumbnails/bmtc_2_thumb.jpg"/>
                  </a>

                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
          <%else%>
            <%= render :partial =>"slider_images" %>
          <%end%>
          <%= RedCloth.new(@blog.extended_content).to_html %>
            

          <% unless @blog.below_slider_content_1.nil? then %>
            <%= RedCloth.new(@blog.below_slider_content_1).to_html %>
          <% end %>
           
          <% if @blog.name== "Suresh Eriyat" then %>
            <style type="text/css">
              #scroll_bg {
                display: none;
              }
            </style>
            <div id="interview_video_works">

              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355458&autoplay=1">
                <img src="../images/03_ESuresh/_005.jpg"/>
              </a>
              <a  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355374&autoplay=1">
                <img src="../images/03_ESuresh/_006.jpg"/>
              </a>
              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355332&autoplay=1">
                <img src="../images/03_ESuresh/_007.jpg"/>
              </a>
              <a class="interview_video_works_space"  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355301&autoplay=1">
                <img src="../images/03_ESuresh/_008.jpg"/>
              </a>

              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355263&autoplay=1">
                <img src="../images/03_ESuresh/_009.jpg"/>
              </a>
              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355245&autoplay=1">
                <img src="../images/03_ESuresh/_010.jpg"/>
              </a>
              <a  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355214&autoplay=1">
                <img src="../images/03_ESuresh/_011.jpg"/>
              </a>
              <a class="interview_video_works_space"  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12106960&autoplay=1">
                <img src="../images/03_ESuresh/_012.jpg"/>
              </a>

              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12106826&autoplay=1">
                <img src="../images/03_ESuresh/_013.jpg"/>
              </a>

              <a rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12106686&autoplay=1">
                <img src="../images/03_ESuresh/_015.jpg"/>
              </a>
              <a  rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12106634&autoplay=1">
                <img src="../images/03_ESuresh/_016.jpg"/>
              </a>
              <a class="interview_video_works_space" rel="vidbox" title="" href="http://vimeo.com/moogaloop.swf?clip_id=12355534&autoplay=1">
                <img src="../images/03_ESuresh/_004.jpg"/>
              </a>

              <div class="clear"></div>
            </div>
          <%end%>


          <% if @blog.name== "Rajesh Dahiya" then %>
            <div id="portfolio_works"><!-- portfolio_works div -->
              <div id="triggers">
                <div id="interview_video_works">

                  <a alt=" " href="../../images/Rajesh_Dhaiya/15_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/15.jpg"/>
                  </a>
                  <a alt=" " href="../../images/Rajesh_Dhaiya/16_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/16.jpg"/>
                  </a>
                  <a alt=" " href="../../images/Rajesh_Dhaiya/17_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/17.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="" href="../../images/Rajesh_Dhaiya/18_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/18.jpg"/>
                  </a>

                  <a alt="Codesign was commissioned to create the visual identity and tagline for the upcoming German Year in India, from a nation-wide pitch involving 21 design studios from India. The visual identity for the German Year in India is an iconic symbol of the seamless, sustainable and endless partnership between the two countries, resulting in infinite opportunities for both nations." href="../../images/Rajesh_Dhaiya/19_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/19.jpg"/>
                  </a>
                  <a alt="Being set in India, the identity manifests as a bold celebration of the partnership that can modify itself to different contexts of communication for different sectors, unified by the theme of Infinite Opportunities." href="../../images/Rajesh_Dhaiya/20_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/20.jpg"/>
                  </a>
                  <a alt="The House This! identity is designed around what-really-makes-a-house; rejecting objects in favor of emotions that bring people together to make a house. The visual identity consists of 4 formal elements, each of which represents a set of intangible feelings—like love, warmth, care & sustenance." href="../../images/Rajesh_Dhaiya/21_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/21.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="The House This! identity is designed around what-really-makes-a-house; rejecting objects in favor of emotions that bring people together to make a house. The visual identity consists of 4 formal elements, each of which represents a set of intangible feelings—like love, warmth, care & sustenance." href="../../images/Rajesh_Dhaiya/22_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/22.jpg"/>
                  </a>

                  <a alt=" " href="../../images/Rajesh_Dhaiya/23_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/23.jpg"/>
                  </a>
                  <a alt="To create an intimate interaction between the customer & historical heritage of the iconic brand—Levi’s, an artefact-based 35 ft. long, virtual & physical walk through 16 decades of Levi’s heritage was designed." href="../../images/Rajesh_Dhaiya/25_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/25.jpg"/>
                  </a>
                  <a alt="The River of Time is an interactive installation, encouraging in-store customer interaction with a exhibit celebrating time. The installation consists of a virtual river flowing endlessly, as a metaphor of time. ‘Smart’ objects in the form of leaves and flowers float past in random order, and on touch open to reveal 50 visually rich stories on historical, scientific and literary aspects of time." href="../../images/Rajesh_Dhaiya/26_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/26.jpg"/>
                  </a>
                  <a class="interview_video_works_space" alt="" href="../../images/Rajesh_Dhaiya/27_1.jpg">
                    <img src="../../images/Rajesh_Dhaiya/27.jpg"/>
                  </a>

                  <div class="clear"></div>
                </div>
              </div>
              <!-- overlay element -->
              <div id="gallery" class="simple_overlay"><div class="close"></div>
                <!-- "previous image" action -->
                <a class="prev" style="opacity: 0.8;">prev</a>
                <!-- "next image" action -->
                <a class="next" style="opacity: 0.8;">next</a>
                <!-- image information -->
                <div class="info" style="opacity: 0.8;"></div>
                <!-- load indicator (animated gif) -->
                <img src="../../images/loading.gif" class="progress"/>
              </div>

              <script>
                $(function() {
                  // select the thumbnails and make them trigger our overlay
                  $("#triggers a").overlay({
                    // each trigger uses the same overlay with the id "gallery"
                    target: '#gallery',
                    // optional exposing effect
                    expose: '#666'
                    // let the gallery plugin do its magic!
                  }).gallery({
                    // the plugin accepts its own set of configuration options
                    speed: 800
                  });
                });
              </script>
            </div>
          <%end%>



          <!---------------------------------)()()()()(|| image slider ||)()()()()()()(------------------------------------>
          <% if @blog.name== "Sandip Paul" then %>

            <div id="interview_video_works">

              <a alt="When bins are less wide than Dustin - you can reverse the flow of dust through the handle!...for easy and efficient clean up.Thinner  front edge for improved dirt pick up. Strong,  one-piece construction in PP." href="../images/04_sandippaul/DUSTIN-by-Paul-Sandip.jpg">
                <img src="../images/04_sandippaul/Thumbnails/DUSTIN-by-Paul-Sandip.jpg"/>
              </a>

              <a  alt="LOVE CASE is a condom case with magnetic easy slider. The lid slides in all directions for easy and quick access. ...make love in style!" href="../images/04_sandippaul/Love-Case.jpg">
                <img src="../images/04_sandippaul/Thumbnails/Love-Case.jpg"/>
              </a>

              <a alt="Often a night lamp intrudes your cone of vision and takes your sleep away.Planet-G with a simple scroll can help you turn over the direct light into a more diffused glow." href="../images/04_sandippaul/planet-G---paul-sandip-(photo-01).jpg">
                <img src="../images/04_sandippaul/Thumbnails/planet-G---paul-sandip-(photo-01).jpg"/>
              </a>
              <a class="interview_video_works_space" alt="Often a night lamp intrudes your cone of vision and takes your sleep away.Planet-G with a simple scroll can help you turn over the direct light into a more diffused glow." href="../images/04_sandippaul/planet-G---paul-sandip-(photo-02)-.jpg">
                <img src="../images/04_sandippaul/Thumbnails/planet-G---paul-sandip-(photo-02)-.jpg"/>
              </a>

              <a alt="Sandip's planet-G featured in ELLE DECOR." href="../images/04_sandippaul/EDIDA-Feb10.jpg">
                <img src="../images/04_sandippaul/Thumbnails/EDIDA-Feb10.jpg"/>
              </a>
              <a  alt="Bathroom slippers that allow water to flow below them...and so you don't slip on wet tiles.
                  Design point: Ridges both on top and bottom surface...for your feet and floor!" href="../images/04_sandippaul/shrink_get-wet-with-me!.jpg">
                <img src="../images/04_sandippaul/Thumbnails/shrink_get-wet-with-me!.jpg"/>
              </a>
              <a alt="Bathroom slippers that allow water to flow below them...and so you don't slip on wet tiles.
                 Design point: Ridges both on top and bottom surface...for your feet and floor!" href="../images/04_sandippaul/shrink-advertisement.jpg">
                <img src="../images/04_sandippaul/Thumbnails/shrink-advertisement.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="SPOO is an attempt to re-think the ergonomics of a feeding spoon." href="../images/04_sandippaul/SPOO.jpg">
                <img src="../images/04_sandippaul/Thumbnails/SPOO.jpg"/>
              </a>

              <a alt="SPOO is an attempt to re-think the ergonomics of a feeding spoon." href="../images/04_sandippaul/spoo-ad.jpg">
                <img src="../images/04_sandippaul/Thumbnails/spoo-ad.jpg"/>
              </a>
              <a alt="SPOO is an attempt to re-think the ergonomics of a feeding spoon." href="../images/04_sandippaul/SPOO-in-use.jpg">
                <img src="../images/04_sandippaul/Thumbnails/SPOO-in-use.jpg"/>
              </a>
              <a alt="Tapeworm is an adhesive tape dispenser clinging onto the tape itself!" href="../images/04_sandippaul/tapeWORM---page01(sandip-Paul).jpg">
                <img src="../images/04_sandippaul/Thumbnails/tapeWORM---page01(sandip-Paul).jpg"/>
              </a>
              <a class="interview_video_works_space" alt="Tapeworm is an adhesive tape dispenser clinging onto the tape itself!" href="../images/04_sandippaul/tapeWORM---page02-(sandip-Paul).jpg">
                <img src="../images/04_sandippaul/Thumbnails/tapeWORM---page02-(sandip-Paul).jpg"/>
              </a>
              <div class="clear"></div>
            </div>
          </div>
          <!-- overlay element -->
          <div id="gallery" class="simple_overlay"><div class="close"></div>
            <!-- "previous image" action -->
            <a class="prev" style="opacity: 0.8;">prev</a>
            <!-- "next image" action -->
            <a class="next" style="opacity: 0.8;">next</a>
            <!-- image information -->
            <div class="info" style="opacity: 0.8;"></div>
            <!-- load indicator (animated gif) -->
            <img src="../../images/loading.gif" class="progress"/>
          </div>

          <script>
            $(function() {
              // select the thumbnails and make them trigger our overlay
              $("#triggers a").overlay({
                // each trigger uses the same overlay with the id "gallery"
                target: '#gallery',
                // optional exposing effect
                expose: '#666'
                // let the gallery plugin do its magic!
              }).gallery({
                // the plugin accepts its own set of configuration options
                speed: 800
              });
            });
          </script>

        </div>
      <%end%>

      <!---------------------------------)()()()()()()()()()()()(------------------------------------>

      <% unless @blog.below_slider_content_2.nil? then %>
        <%= RedCloth.new(@blog.below_slider_content_2).to_html %>
      <% end %>


      <% if @blog.name== "Rajesh Dahiya" then %>
        <div id="portfolio_works"><!-- portfolio_works div -->
          <div id="triggers">
            <div id="interview_video_works">

              <a alt="Codesign was commissioned along with Amsterdam-based Koeweiden Postma to create an identity that symbolized the spirit of the collaboration between designers in India and Netherlands. The identity is inspired by the auspicious Indian motif Kolam—signifying the union of wisdom and method. The identity symbolizes the coming together of the two design communities to create strong integrated action." href="../../images/Rajesh_Dhaiya/28_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/28.jpg"/>
              </a>
              <a alt="The environmental graphics for Incube Business Centre provided an opportunity to create inspirational stories in space. Concepts relevant to business and entrepreneurship, like organization, coordination etc were represented through parallel examples of growth & progression in nature." href="../../images/Rajesh_Dhaiya/29_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/29.jpg"/>
              </a>
              <a alt="The environmental graphics for Incube Business Centre provided an opportunity to create inspirational stories in space. Concepts relevant to business and entrepreneurship, like organization, coordination etc were represented through parallel examples of growth & progression in nature." href="../../images/Rajesh_Dhaiya/30_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/30.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="The environmental graphics for Incube Business Centre provided an opportunity to create inspirational stories in space. Concepts relevant to business and entrepreneurship, like organization, coordination etc were represented through parallel examples of growth & progression in nature." href="../../images/Rajesh_Dhaiya/31_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/31.jpg"/>
              </a>

              <a alt=" " href="../../images/Rajesh_Dhaiya/32_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/32.jpg"/>
              </a>
              <a alt=" " href="../../images/Rajesh_Dhaiya/33_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/33.jpg"/>
              </a>
              <a alt=" " href="../../images/Rajesh_Dhaiya/34_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/34.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="" href="../../images/Rajesh_Dhaiya/35_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/35.jpg"/>
              </a>

              <a alt=" " href="../../images/Rajesh_Dhaiya/36_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/36.jpg"/>
              </a>
              <a alt=" " href="../../images/Rajesh_Dhaiya/38_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/38.jpg"/>
              </a>
              <a alt="Views on the West exhibited 50 posters made by student & professional graphic designers from India and the Netherlands, displaying interpretations of views on the West from an Indian perspective. Rajesh coordinated and curated the selection from India, to present multiple perspectives the theme, revealing surprising interpretations of the stereotype." href="../../images/Rajesh_Dhaiya/39_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/39.jpg"/>
              </a>
              <a class="interview_video_works_space" alt="Views on the West exhibited 50 posters made by student & professional graphic designers from India and the Netherlands, displaying interpretations of views on the West from an Indian perspective. Rajesh coordinated and curated the selection from India, to present multiple perspectives the theme, revealing surprising interpretations of the stereotype." href="../../images/Rajesh_Dhaiya/41_1.jpg">
                <img src="../../images/Rajesh_Dhaiya/41.jpg"/>
              </a>

              <div class="clear"></div>
            </div>
          </div>
          <!-- overlay element -->
          <div id="gallery" class="simple_overlay"><div class="close"></div>
            <!-- "previous image" action -->
            <a class="prev" style="opacity: 0.8;">prev</a>
            <!-- "next image" action -->
            <a class="next" style="opacity: 0.8;">next</a>
            <!-- image information -->
            <div class="info" style="opacity: 0.8;"></div>
            <!-- load indicator (animated gif) -->
            <img src="../../images/loading.gif" class="progress"/>
          </div>

          <script>
            $(function() {
              // select the thumbnails and make them trigger our overlay
              $("#triggers a").overlay({
                // each trigger uses the same overlay with the id "gallery"
                target: '#gallery',
                // optional exposing effect
                expose: '#666'
                // let the gallery plugin do its magic!
              }).gallery({
                // the plugin accepts its own set of configuration options
                speed: 800
              });
            });
          </script>
        </div>
     
      <%end%>


      <% unless @blog.below_slider_content_3.nil? then %>
        <%= RedCloth.new(@blog.below_slider_content_3).to_html %>
      <% end %>

      <% unless @blog.below_slider_content_4.nil? then %>
        <%= RedCloth.new(@blog.below_slider_content_4).to_html %>
      <% end %>

<%#*<div id="interview_main"> </div>%>

      <div id="interview_bottom_links">
        <li><%=h @blog.created_at.strftime("%d %b %Y") %></li>&nbsp;&nbsp;|&nbsp;&nbsp;
        <li><%=h @blog.tag %></li>
      </div>

      <%= render :partial => "addThis" %>
      <%= render :partial => "discuss_comments" %>

    </div>
    <!-- main inner end -->
  </div>
  <!-- main end-->

  <!-- sidebar starts-->
  <div id="sidebar">
    <%= render :partial => "vCard" %>
    <div class="sidebar_chunk">
      <style>

  #create_portfolio_btn{
    height: 31px;
    width: 151px;
    background: url('../images/create_portfolio1.png') no-repeat;
    position: relative;
    top: 15px;
    right: -40px;

}
#create_portfolio_btn:hover {
    height: 31px;
    width: 151px;
    background: url('../images/create_portfolios_hover1.png') no-repeat;
    cursor: pointer;
}
      </style>
      <h3>get your own portfolio</h3>
      <div>
        DezineConnect now offers FREE online portfolios to designer
       <br/>
      <form method="post" action="/users/new">
        <button id="create_portfolio_btn" align="center"></button>
      </form>
      </div>
    </div>
    <%= render :partial => "featured_interviews" %>
    <div class="sidebar_chunk">
      <h3>suggest a designer</h3>
      <div>
        Do you know a designer who deserves to be featured on DezineConnect?
      </div>
      <div id="letus_know_btn">
        <a href="mailto:feedback@dezineconnect.com?subject=suggest a designer"></a>
      </div>
    </div><!-- sidebar chunk ends -->
    <div class="sidebar_chunk">
      <%= render :partial => "facebook_fans" %>
    </div>
  </div><!-- sidebar ends -->
</div>
<!--960 px wrapper ends-->