<%= stylesheet_link_tag 'create_portfolio' %>

<!--include for word count--->
<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'word_count' %>
<script type="text/javascript">
  function limitLength(obj, length) {
    var desc = obj.value;
    obj.value = substr(obj.value,length);
  }
  function substr(str,length){
    var l=0,i=0;
    while(l <length && i<str.length){
      l+=1;
      if(str.substring(i,i+1).match(/[\u4e00-\u9fa5]/))l+=2;// A Chinese is the equivalent of three English
      i+=1;
    }
    return str.substring(0,i);
  }
  //var upload_images_count=document.getElementById('ValidationUploadImage').value;
function validate(){
  var upload_images_count=8-document.getElementById('ValidationUploadImage').value;
 // alert(upload_images_count);
    if(upload_images_count=='0') {
      document.getElementById('validation_upload_image').style.color="red";
      document.getElementById('portfolio_imageupload_error_msg').style.display="block";
      document.getElementById('portfolio_imageupload_8count_error_msg').style.display="none";
      return false
      }
    else if(upload_images_count<=8) {
      document.super_form1.submit();
      return true;
      document.super_form.submit();
      //alert(upload_images_count);
    }
    else{
      return false;
    }
}
</script>

<link href="/stylesheets/compiled/portfolio_imageupload.css" media="screen" rel="stylesheet" type="text/css" />
<!--include for word count end-->
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<!-- 960 px wrapper -->
<div id="wrap">
  <div id="main"> <!-- main start -->
    <div id="main_inner"> <!-- main inner start -->
      <h1>portfolio

        <div id="portfolio_edit_top">
          <div id="account_settings_btn"><a href="/users/edit/<%= @portfolio.user.id %>"></a></div>
          <div id="profile_information_btn"><a href="/portfolios/edit/<%= @portfolio.id %>"></a></div>
          <div id="portfolio_btn"></div>
        </div>
      </h1>
      <form id="super_form1" name="super_form1" action="/portfolios/update_portfolio_specifications_after_edit/<%= @portfolio.id %>" method="post" onsubmit="javascript:return validate();" enctype="multipart/form-data">
        <% unless @portfolio.profile_photo_file_name.nil? or @portfolio.profile_photo_file_name.blank? or @portfolio.profile_photo_file_name.empty? then %>
          <img src="<%=@portfolio.profile_photo.url(:original)%>" id="edit_profilepicture"/>
        <% else %>
          <img src="../../../images/profile_pic.png" id="edit_profilepicture"/>
        <% end %>
        <label>change your profile picture</label>
        <input type="file" id="portfolio_profile_photo" name="portfolio[profile_photo]" size="40"  maxlength="45"/>
        <div class="portfolio_msg_text">
          ideal size of the image should be 150px x 150px
        </div>
        <br/>
        <label>bio / objective</label>
        <textarea cols="7" rows="7" name="portfolio[bio]" onkeyup="limitLength(this,1000)"><%= @portfolio.bio %></textarea>
        <div class="portfolio_msg_text" >
          ideal length of bio should be 100 words
        </div>
        <br/>
        <br/>
        <!--<label>featured work</label>
        <input id="blog_author_photo" name="blog[author_photo]" size="30" type="file" />
        <input type="file" id="portfolio_featured_photo" name="portfolio[featured_photo]" size="40"  />
        <br/><div id="portfolio_msg_text">
        upload your best work here,
        <br/>
        this image will be displayed in search results page as well as your page.
        </div>
        <br/>-->
        <label>portfolio</label>

        <div class="portfolio_rounded_shading">
          <div id="portfolio_rounded_shading_in">
            <label>name of the set</label>
            <div>
            <% unless @portfolio.images.nil? then @portfolio.images.each do | display_image | %>
                <input type="text" name="set_name" value="<%= display_image.set_name %>" maxlength="45" size="40"/>
                <% break end else %>
              <input type="text" name="set_name" maxlength="45" size="40" />
            <%end%>
           </div>
           <% logger.info "Portfolio ID : #{@portfolio.id}" %>
            <div id="mp3info" style="clear: left;">
                <% unless @portfolio.images.nil? then %>
                  <% if @portfolio.images.count == 1 then %>
                      <% @portfolio.images.each do | display_image |  %>
                        <p>
                          <%= image_tag display_image.image.url(:thumb) %>
                          <label>description</label>
                          <textarea  cols="4" rows="2" name="description_<%= display_image.id %>"><%= display_image.description %> </textarea>
                        </p>
                      <%end%>
                   <% else %>
                      <% @portfolio.images.each do | display_image |  %>
                        <p>
                          <%= image_tag display_image.image.url(:thumb) %>
                          <label>description</label>
                          <textarea  cols="4" rows="2" name="description_<%= display_image.id %>"><%= display_image.description %> </textarea>
                          <a href="/portfolios/delete_image/<%= display_image.id %>">delete</a>
                        </p>
                      <%end%>
                   <% end %>
                <%end%>
               </div>
            <div id="container">
               <label id="validation_upload_image">upload up to <base><input value="8" type="text" size="3" id="ValidationUploadImage" maxlength="3"/></base> images</label>
            <br/>
              <%= render :file => "/images/new" %>
            </div>
          </div>
        </div>

        <label>
          <button type="submit" id="portfolio_publish_btn" onclick="validate();"></button>
        </label>
      </form>
    </div> <!-- main inner ends -->
  </div> <!-- main ends -->



</div><!-- 960 px wrapper ends -->