<!--css-->
<%= stylesheet_link_tag "portfolio_show"  %>
<%= stylesheet_link_tag 'portfolio_image_slider' %>
<!--js script-->
<%= javascript_include_tag 'contentslider' %>
<%  unless session[:loggedin_user].nil? then
  @current_user = User.find_by_id(session[:loggedin_user])
  if @current_user.portfolio.id == @portfolio.id then %>
    <style type="text/css">
      #header { display: block; height:40px;}
      #logo, #header_mid { display: block; }
    </style>
  <% end end %>
<!-- 960 px wrapper -->
<div id="wrap">
  <!--portfolio top bar-->
  <div id="portfolio_top_bar">
    <% unless session[:user_activated_to_show_page].nil? && session[:loggedin_user].nil? && session[:user_activated_to_show_page].blank? && session[:loggedin_user].blank? then %>
      <!--portfolio top bar user view-->
      <% unless session[:search_string].blank? then %>
        <%  search_result_array = Array.new
        logger.info  "session[:search_string] : #{session[:search_string]}"
        @xapian_search_results = ActsAsXapian::Search.new([Portfolio], session[:search_string], :limit => 10000, :joins => :user, :conditions => {:users => {:activate => 1}}, :sort_by_prefix => "updated_at")
        @xapian_search_results.results.each do | search_value |
          search_result_array << search_value[:model][:id]
        end
        if search_result_array.empty? then
          search_result_array = session[:search_result_spell_correction_array] unless session[:search_result_spell_correction_array].nil?
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@portfolio.id)
        logger.info  "search_result_array : #{index_value}" %>
        <% if index_value.nil? then %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">Back to HomePage</a>
          </div>
        <% else %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">HomePage</a> |
            <a href="/portfolios/search?search_textfield=<%= session[:search_string] %>">Back to Search Results</a>
          </div>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value - 1].blank? then %>
            <div id="portfolio_top_bar_previous">
              <a href="/portfolios/show/<%= search_result_array[index_value - 1] %>">Previous Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value + 1].blank? then %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[index_value + 1] %>">Next Portfolio</a>
            </div>
          <% else %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[0] %>">Next Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% session[:search_string] == "" %>
      <% else %>
        <div id="portfolio_top_bar_search">
          <a href="/portfolios">Back to HomePage</a>
        </div>
        <%  search_result_array = Array.new
        @xapian_search_results = Portfolio.find(:all,:joins => :user, :conditions => {:users => {:activate => 1}}, :order => 'updated_at DESC')
        @xapian_search_results.each do | search_value |
          search_result_array << search_value[:id]
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@portfolio.id)
        logger.info  "search_result_array : #{index_value}"
      %>
        <% unless search_result_array[index_value - 1].blank? then %>
          <div id="portfolio_top_bar_previous">
            <a href="/portfolios/show/<%= search_result_array[index_value - 1] %>">Previous Portfolio</a>
          </div>
        <% end %>
        <% unless search_result_array[index_value + 1].blank? then %>
          <div id="portfolio_top_bar_next">
            <a href="/portfolios/show/<%= search_result_array[index_value + 1] %>">Next Portfolio</a>
          </div>
        <% else %>
          <div id="portfolio_top_bar_next">
            <a href="/portfolios/show/<%= search_result_array[0] %>">Next Portfolio</a>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% unless session[:search_string].blank? then %>
        <%  search_result_array = Array.new
        logger.info  "session[:search_string] : #{session[:search_string]}"
        @xapian_search_results = ActsAsXapian::Search.new([Portfolio], session[:search_string], :limit => 10000,:joins => :user, :conditions => {:users => {:activate => 1}}, :sort_by_prefix => "updated_at")
        @xapian_search_results.results.each do | search_value |
          search_result_array << search_value[:model][:id]
        end
        if search_result_array.empty? then
          search_result_array = session[:search_result_spell_correction_array] unless session[:search_result_spell_correction_array].nil?
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@portfolio.id)
        logger.info  "search_result_array : #{index_value}"%>

        <% if index_value.nil? then %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">Back to HomePage</a>
          </div>
        <% else %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">HomePage</a> |
            <a href="/portfolios/search?search_textfield=<%= session[:search_string] %>">Back to Search Results</a>
          </div>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value - 1].blank? then %>
            <div id="portfolio_top_bar_previous">
              <a href="/portfolios/show/<%= search_result_array[index_value - 1] %>">Previous Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value + 1].blank? then %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[index_value + 1] %>">Next Portfolio</a>
            </div>
          <% else %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[0] %>">Next Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% session[:search_string] == "" %>
      <% else %>
        <div id="portfolio_top_bar_search">
          <a href="/portfolios">Back to HomePage</a>
        </div>
        <%  search_result_array = Array.new
        @xapian_search_results = Portfolio.find(:all,:joins => :user, :conditions => {:users => {:activate => 1}},:order => 'updated_at DESC')
        @xapian_search_results.each do | search_value |
          search_result_array << search_value[:id]
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@portfolio.id)
        logger.info  "search_result_array : #{index_value}"
      %>
        <% unless search_result_array[index_value - 1].blank? then %>
          <div id="portfolio_top_bar_previous">
            <a href="/portfolios/show/<%= search_result_array[index_value - 1] %>">Previous Portfolio</a>
          </div>
        <% end %>
        <% unless search_result_array[index_value + 1].blank? then %>
          <div id="portfolio_top_bar_next">
            <a href="/portfolios/show/<%= search_result_array[index_value + 1] %>">Next Portfolio</a>
          </div>
        <% else %>
          <div id="portfolio_top_bar_next">
            <a href="/portfolios/show/<%= search_result_array[0] %>">Next Portfolio</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!--portfolio top bar end-->
  <div class="clear"></div>
  <!--portfolio title-->
  <div id="title">
    <h1>
      <%=h @portfolio.user.firstname %> <%=h @portfolio.user.lastname %>
      <dl>
        <a href="/portfolios/search?search_textfield=<%=h @portfolio.city %>"><%=h @portfolio.city %></a>,
        <a href="/portfolios/search?search_textfield=<%=h @portfolio.country %>"><%=h @portfolio.country %></a>
      </dl>
    </h1>
    <h6>
      <a href="/portfolios/search?search_textfield=<%=h @portfolio.secondary_specializations_2 %>"><%=h @portfolio.secondary_specializations_2 %></a>
    </h6>
  </div>
  <!--portfolio title end-->

  <!--sidebar-->
  <div id="sidebar">
    <!--portfolio bio-->
    <div id="portfolio_view_bio">
      <% unless @portfolio.profile_photo_file_name.nil? or @portfolio.profile_photo_file_name.blank? then %>
        <%= image_tag @portfolio.profile_photo.url(:original) %>
      <% else %>
        <img src="/images/profile_pic.JPG"/>
      <% end %>

      <% unless @portfolio.bio.nil? or @portfolio.bio.blank? then %>
        <%=  RedCloth.new(@portfolio.bio).to_html %>
      <% end %>
    </div>
    <!--portfolio bio end-->
    <div class="clear"></div>
    <!--portfolio profile information-->
    <div id="portfolio_profile_sider">
      <% unless @portfolio.availability_1.nil? or @portfolio.availability_1.blank? then %>
        <span>
          <h5>looking for</h5>
          <%=h @portfolio.availability_1 %> Employment
          <% unless @portfolio.availability_2.nil? then %>
            <br/>
            <%=h @portfolio.availability_2 %> Employment
          <% end %>

          <% unless @portfolio.availability_3.nil? then %>
            <br/>
            <%=h @portfolio.availability_3 %> Employment
          <% end %>

          <% unless @portfolio.availability_4.nil? then %>
            <br/>
            <%=h @portfolio.availability_4 %>
          <% end %>
        <% end %>
      </span>
      <% unless @portfolio.specialization.nil? or @portfolio.specialization.blank? then %>
        <span>
          <h5>specialization</h5>
          <% unless @portfolio.secondary_specializations_2.nil? then %>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.secondary_specializations_2 %>"><%=h @portfolio.secondary_specializations_2 %></a>
          <%  end %>

          <% unless @portfolio.secondary_specializations_1.nil? then %>
            <%  secondary_specilizations= @portfolio.secondary_specializations_1
            secondary_specilizations_arry= secondary_specilizations.split(',')
            secondary_specilizations_arry.each do | var_arr |%>
              <a href="/portfolios/search?search_textfield=<%= var_arr %>"><%= var_arr %></a>
              <br/>
            <%end%>
          <%end%>
        </span>
      <% end %>

      <% unless @portfolio.education.nil? or @portfolio.education.blank? then %>
        <span>
          <h5>education</h5>
          <a href="/portfolios/search?search_textfield=<%=h @portfolio.education %>"><%=h @portfolio.education %></a>
          <% unless @portfolio.education_1.nil? or @portfolio.education_1.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.education_1 %>"><%=h @portfolio.education_1 %></a>
          <% end %>

          <% unless @portfolio.education_2.nil? or @portfolio.education_2.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.education_2 %>"><%=h @portfolio.education_2 %></a>
          <% end %>
        </span>
      <% end %>

      <% unless @portfolio.experience_years.nil? or @portfolio.experience_years.blank? then %>
        <span>
          <h5>experience</h5>
          <%=h @portfolio.experience_years %> Years
          <% unless @portfolio.experience_months.nil?  or @portfolio.experience_months.blank? then %>
            <%=h @portfolio.experience_months %> Months
          <%end%>
        </span>
      <%end%>

      <% unless @portfolio.awards_won_1.nil? or @portfolio.awards_won_1.blank? then %>
        <span>
          <h5>awards won</h5>
          <a href="/portfolios/search?search_textfield=<%=h @portfolio.awards_won_1 %>"><%=h @portfolio.awards_won_1 %></a>
          <% unless @portfolio.awards_won_2.nil? or @portfolio.awards_won_2.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.awards_won_2 %>"><%=h @portfolio.awards_won_2 %></a>
          <%end%>

          <% unless @portfolio.awards_won_3.nil? or @portfolio.awards_won_3.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.awards_won_3 %>"><%=h @portfolio.awards_won_3 %></a>
          <%end%>

          <% unless @portfolio.awards_won_4.nil? or @portfolio.awards_won_4.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.awards_won_4 %>"><%=h @portfolio.awards_won_4 %></a>
          <%end%>

          <% unless @portfolio.awards_won_5.nil? or @portfolio.awards_won_5.blank? then %>
            <br/>
            <a href="/portfolios/search?search_textfield=<%=h @portfolio.awards_won_5 %>"><%=h @portfolio.awards_won_5 %></a>
          <%end%>

        </span>
      <%end%>

      <% unless @portfolio.website.nil? or @portfolio.website.blank? then %>
        <span>
          <h5>website</h5>
          <a href="http://<%=h @portfolio.website %>" target="_blank"><%=h @portfolio.website %></a>
        </span>
      <% end %>

      <% unless @portfolio.user.email.nil? or @portfolio.user.email.blank? then %>
        <span>
          <h5>email</h5>
          <a href="mailto:<%=h @portfolio.user.email %>"><%=h @portfolio.user.email %></a>
        </span>
      <% end %>

      <% unless @portfolio.address.nil? or @portfolio.city.nil? or @portfolio.state.nil? or @portfolio.country.nil? then %>
        <span>
          <h5>address</h5>
          <%=h @portfolio.address %>
          <br/>
          <%=h @portfolio.city %>
          <br/>
          <%=h @portfolio.state %>
          <br/>
          <%=h @portfolio.country %>
        </span>
      <% end %>

      <span>
        <% unless @portfolio.linkedin.nil? or @portfolio.linkedin.blank? then %>
          <a href="http://<%=h @portfolio.linkedin %>" target="_blank">
            <div id="portfolio_social_linkedin"></div>
          </a>
        <% end %>

        <% unless @portfolio.facebook.nil? or @portfolio.facebook.blank? then %>
          <a href="http://<%=h @portfolio.facebook %>" target="_blank">
            <div id="portfolio_social_facebook"></div>
          </a>
        <% end %>

        <% unless @portfolio.twitter.nil? or @portfolio.twitter.blank? then %>
          <a href="http://<%=h @portfolio.twitter %>" target="_blank">
            <div id="portfolio_social_twitter"></div>
          </a>
        <% end %>
        <div class="clear"></div>
      </span>
    </div>
    <!--portfolio profile information end-->
  </div>
  <!--sidebar end-->

  <!-- main div -->
  <div id="main">
    <!-- image slider -->
    <div id="slider4" class="sliderwrapper">
      <%slider_img_disc_value=1%><!---for Image Discription-->
      <%slider_image_value=1%>
      <% @var_img_disc_value = @portfolio.images.count+1 %><!---for Image Discription-->
      <% @portfolio.images.each do | display_image |  %>
        <% slider_img_disc_value = slider_img_disc_value+1 %><!---for Image Discription-->
        <% slider_image_value = slider_image_value+1 %>
        <%if @var_img_disc_value==slider_img_disc_value then%>
          <a href="javascript:featuredcontentslider.jumpTo('slider4', <%=slider_image_value%>),fun1('8_WorkDisc_1')">
            <div class="contentdiv" style="background: url('<%= display_image.image.url(:original)%>') no-repeat; background-position:center;"></div>
          </a>
        <%else%>
          <a href="javascript:featuredcontentslider.jumpTo('slider4', <%=slider_image_value%>),fun1('8_WorkDisc_<%=slider_img_disc_value%>')">
            <div class="contentdiv" style="background: url('<%= display_image.image.url(:original)%>') no-repeat; background-position:center;"></div>
          </a>
        <%end%>
      <% end %>
    </div>
    <!-- image slider end-->
    <!--portfolio images discription-->
    <%i=1%>
    <% @portfolio.images.each do | display_image |  %>
      <%if i==1 then%>
        <p id="WorkDisc_<%=i%>" style="display: block">
          <%= display_image.description %>
        </p>
      <%else%>
        <p id="WorkDisc_<%=i%>" style="display: none">
          <%= display_image.description %>
        </p>
      <%end%>
      <%  i = i+1 %>
    <%end%>
    <!--portfolio images discription end-->

    <!--portfolio images set-->
    <h2>
      <%= @portfolio.images[0].set_name %>
    </h2>
    <!--portfolio images set end-->

    <!-- portfolio_works div -->
    <div id="paginate-slider4">
      <!-- image slider left right arrows-->
      <div id="imageslider_prev_next">
        <a class="prev" href="#prev">
          <img src="../../images/imageslider_leftarrow.png" alt="left_arrow"/>
        </a>
        <a class="next" href="#next">
          <img src="../../images/imageslider_rightarrow.png" alt="right_arrow"/>
        </a>
      </div>
      <!-- image slider left right arrows end-->
      <% i = 0 %>
      <% imagedisc_id = 0 %> <!--image disc script-->
      <% disc_count = 0 %>
      <% @portfolio.images.each do | display_image |  %>
        <% imagedisc_id = imagedisc_id+1 %>
        <% i = i+1 %>
        <% disc_count = disc_count+1%>
        <% disc_id = disc_count%>
        <%  if i == 4 %>
          <a href="#" class="toc someotheclass slider_corner_img">
            <img src="<%=display_image.image.url(:thumb)%>" onclick="fun1('8_WorkDisc_<%=imagedisc_id%>')"/>
          </a>
          <% i = 0 %>
        <% else %>
          <a href="#" class="toc someotheclass"  >
            <img src="<%=display_image.image.url(:thumb)%>" onclick="fun1('8_WorkDisc_<%=imagedisc_id%>')"/>
          </a>
        <%  end %>
      <% end %>
    </div>
    <!-- portfolio_works end -->

    <script type="text/javascript">
      featuredcontentslider.init({
        id: "slider4", //id of main slider DIV
        contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
        toc: "markup", //Valid values: "#increment", "markup", ["label1", "label2", etc]
        nextprev: ["", "Next"], //labels for "prev" and "next" links. Set to "" to hide.
        revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
        enablefade: [true, 0.1], //[true/false, fadedegree]
        autorotate: [false, 3000], //[true/false, pausetime]
        onChange: function(previndex, curindex){ //event handler fired whenever script changes slide
          //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
          //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
        }
      })
    </script>
    <!-- portfolio_works div -->
  </div>
  <!-- main div end-->
</div>
<!-- 960 px wrapper end-->
<!-- portfolio show footer / master footer hide in this page/ -->
<div id="portfolio_show_footer">
  <a href="http://www.dezineconnect.com">
    <img src="/images/dezineconnect_logo_bottom.png" />
  </a>
</div>
<!-- portfolio show footer-->