<style type="text/css">
  .job-listing-div{
    background: #fff;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    width: 620px;
    margin: 0px 0px 8px 0px;
    padding: 3px;

    float: left;
    position: relative;
    height: 40px;

  }
.job-listing-div a{
    height: 40px;
    width: 620px;
    display:block;
  }
  .job-listing-div h3{
    font-family: times;
    font-weight: bold;
    font-size: 15px;
    color: orange;
    position: absolute;
    left: 10px;
    top: 4px;
    margin: 0px;
  }
  .job-listing-div h4{
    color: gray;
    font-weight: normal;
    position: absolute;
    left: 10px;
    top: 24px;
    margin: 0px;
    color: #333333;
  }
  .job-listing-div h5{
    position: absolute;
    top: 24px;
    left: 250px;
    font-weight: normal;
    margin: 0px;
  }
  .job-listing-div span{
    position: absolute;
    top: 9px;
    left: 250px;
    display: block;
    width: 60px;
    color: black;
    font-size: 13px;
    background: url('/images/register_accept_page.png') no-repeat;
    padding-left:15px;
    height: 32px;
    vertical-align: bottom;
    color: #333333;
  }
  .job-listing-div h6{
    position: absolute;
    top:25px;
    right:9px;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
  }

  </style>




<% if @posts.blank? then %>
  <% if flash[:message] then %>
    <div>
      <%= flash[:message] %>
    </div>
  <% end %>
<% end %>
<% for job in @posts do %>
    <% if  job.activate == true then %>
      <div class="job-listing-div">
         <a href="/jobs/show/<%= job.id %>">
        <% if job.job_title.length > 29 then%>
          <h3><%=h job.job_title[0,29] %>&hellip;</h3>
        <% else %>
          <h3><%=h job.job_title %></h3>
        <% end %>

        <% if job.company_name.length > 28 then%>
          <h4><%=h job.company_name[0,28] %>&hellip;</h4>
        <% else %>
          <h4><%=h job.company_name %></h4>
        <% end %>

        <span><%= job.job_applications.count %></span>

        <% if job.location.length > 20 then%>
          <h5><%=h job.location[0,20] %>&hellip;</h5>
        <% else %>
          <h5><%=h job.location %></h5>
        <% end %>

        <h6><%=h job.created_at.strftime("%b %d") %></h6>
      </a>
      </div>
    <% end %>
  <% end %>



