
<script type="text/javascript">
  var db_count=<%=  @records_for_more_button.length %>;
var display_records=5; //set the valu for show record at one time
</script>

<%= javascript_include_tag 'endless_jobs_page' %>
<%= javascript_include_tag 'favourites' %>
<%= javascript_include_tag 'prototype' %>
<%#= javascript_include_tag 'jquery-1.3.2.min' %>
<%#= javascript_include_tag 'word_count' %>

<style type="text/css">
  body{color: #333333;}
  label {
    font-size: 12px;
  }
  #search_box {
    background: url('../images/portfolio_search_bg.png') no-repeat;
    width: 405px;
    height: 35px;
    margin: 0px 0px 0px 0px;
  }
  #job_description_label
  {
    width: 50px;
    float: left;
    height: 15px;
  }
  #search_textfield {
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-size: 13px;
    margin: 5px 0px 0px 40px;
    padding: 2px 0px 0px 0px;
    border: 0px;
    border-color: #fff;
    height: 20px;
    background: transparent;
    width: 350px;
    outline-style:  none;
  }
  #search_textfield:hover {
    border-color: #fff;
  }
  #portfolio_search_button {
    background: url('../images/magnifyingglass.png') no-repeat;
    width: 60px;
    height: 45px;
    position: absolute;
    top: 8px;
    left: 12px;
    width: 20px;
    height: 20px;
  }
  #new_job
  {
    margin-bottom: 20px;
    position: relative;

  }
  #word_count
  {
    font-weight: normal;
    margin-right: 5px;
    width: 50px;
    height: 20px;
    position: absolute;
    top: 190px;
    right: 50px;
    font-size: 10px;
  }
  #word_count #text
  {
    background-color: red;
  }
  #main_inner {
    margin-top: 10px;
  }

  #main_inner .job-listing-div{
    background: #fff;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;

    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    width: 620px;
    margin: 0px 0px 8px 0px;
    padding: 3px;

    float: left;
    position: relative;
    height: 40px;

  }
  .captcha_class
  {
    background-color: red;
    width:20px;
    float: left;
  }
  #main_inner .job-listing-div a{
    height: 40px;
    width: 620px;
    display:block;
  }
  #main_inner .job-listing-div h3{
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: orange;
    position: absolute;
    left: 10px;
    top: 4px;
    margin: 0px;
  }
  #main_inner .job-listing-div h4{
    color: gray;
    font-family: Century Gothic, Lucida Grande,Lucida Sans Unicode,helvetica, sans-serif;
    font-weight: normal;
    position: absolute;
    left: 10px;
    top: 24px;
    margin: 0px;
    color: #333333;
  }
  #main_inner .job-listing-div h5{
    position: absolute;
    top: 24px;
    left: 250px;
    font-weight: normal;
    margin: 0px;
  }
  #main_inner .job-listing-div span{
    position: absolute;
    top: 9px;
    left: 250px;
    display: block;
    width: 60px;
    color: black;
    font-size: 13px;
    background: url('../images/register_accept_page.png') no-repeat;
    padding-left:15px;
    height: 32px;
    vertical-align: bottom;
    color: #333333;
  }
  #main_inner .job-listing-div h6{
    position: absolute;
    top:25px;
    right:9px;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
  }
  #sidebar label{
    width: 250px; display: block;
    margin-bottom: 3px;
  }
  #apply_via_email
  {
    margin-top: 5px;
  }
  #sidebar input, #sidebar textarea{
    border: #bbbbbb 1px  solid;
    margin-bottom: 5px;
  }
  #sidebar #job_title,#how_to_apply_email,#ex_email,#ex_password,#company_name,#location,#job_description
  {
    width: 260px;
  }
  #sidebar textarea{
    padding: 3px;
    height: 180px;
    cursor: pointer;
  }
  #sidebar span{
    font-size: 10px;
    font-style: italic;
    color: #666666;
    margin: -2px 0px 5px 0px ;
    display: block;
  }
  #sidebar h2{
    border: none;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
  }
  #sidebar a {
    display: block;
    margin-bottom:10px;
  }
  #sidebar a img{ border: none;}

  #Qjob-side-member label{
    margin: 3px 0px;
  }
  #Qjob-side-member input {
    border: none;
  }
  #Qjob-side-member{
    border-bottom: #ccc 1px  dotted;
    border-top: #ccc 1px  dotted;
    margin: 5px 0px;
    padding: 5px 0px;
  }
  #Qjob-side-bottom{
    border: none;
  }
  #Qjob-side-bottom a{
    height:31px;
    width:115px;
  }
  #Qjob-side-bottom #QJob-DontReg
  {
    display:none;
  }
  #Qjob-side-bottom #QJob-DontReg label {
    font-size: 12px;
    margin: 3px 0px;
  }
  #Qjob-side-bottom #QJob-DontReg span img{
    margin: 2px 2px 0px 0px;
  }
  #Qjob-side-bottom #QJob-Member{
    position: relative;
    display: block;
    margin: 0px 0px 20px 0px;
  }
  /*#Qjob-side-bottom #QJob-Member h5{
    margin: 0px;
    font-weight: normal;
    font-size: 12px;
    color: orange;
    display: inline;
  }*/
  #Qjob-side-bottom #forgot_password{
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    color: orange;
    display: inline;
    float: right;
    margin-right: -20px;
    margin-bottom: 0px;
    height: 20px;
    text-align: right;
  }
  #Qjob-side-bottom #QJobSecurityError,#Qjob-side-bottom #QJobPost_btn{
    display: block;
  }
  .flash_success_msg
  {
    text-align: center;
    width: 620px;
    margin-top: 8px;
    background-color: transparent;
  }
  #sidebar .error_msg {
    color: red;
    margin: -3px 0px 5px 0px;
    clear: right;
    width: 300px;
  }
  #sidebar .required_field{
    width: 5px;
    display: inline;
    color: red;
  }
  #sidebar #QJobPost_btn{
    background: url('/images/btn_post_this_job.png') no-repeat;
    width: 115px;
    height: 31px;
    border: none;
    cursor: pointer;
  }

</style>
<script type="text/javascript">
//Trim function
if(typeof String.prototype.trim !== 'function') {
  String.prototype.trim = function() {
    return this.replace(/^\s+|\s+$/g, '');
  }
}
var email=document.getElementById('email');
var ex_email=document.getElementById('ex_email');
var ex_password=document.getElementById('ex_password');

//Qjobs.elements["itemtype"][0].checked = true;
//type of member div hide and show
function toggleSet(rad)
{
  var type = rad.value;
  var type_id= document.getElementById(type);
  var QJob_Member= document.getElementById('QJob-Member');
  var QJob_DontReg= document.getElementById('QJob-DontReg');
  var QJobPost_btn= document.getElementById('QJobPost_btn');
  if(type=='QJob-Member'){
    QJobPost_btn.setAttribute('style', 'display:block;');
    type_id.setAttribute('style', 'display:block;');
    QJob_DontReg.setAttribute('style', 'display:none;');
    document.getElementById('QJobPost_btn').style.display="block";
    ex_password.value='';
    ex_email.value='';
    email.value='';
  }else if(type=='QJob-DontReg'){
    display_question();
    type_id.setAttribute('style', 'display:block;');
    QJob_Member.setAttribute('style', 'display:none;');
    document.getElementById('QJobPost_btn').style.display="block";
    document.getElementById('email').value='';
    document.getElementById('ex_email').value='';
    document.getElementById('ex_password').value='';
  }
}

var children = document.getElementById('Qjob-side-member').getElementsByTagName('input');
children[0].checked=true;

//Qjob form validation
function validation(ctl,ct2) {
  var ctl_element=document.getElementById(ctl);
  var ct2_element=document.getElementById(ct2);
  if((ctl_element.id=="email")||(ctl_element.id=="ex_email")||(ctl_element.id=="how_to_apply_email")){
    if(echeck(ctl_element.value)==false){
      ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
      ct2_element.setAttribute('style', 'display:block;');
      return false;
    }else{
      ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
      ct2_element.setAttribute('style', 'display:none;');
    }
  }

  if((ctl_element.value.trim()=="")||(ct2_element.value=="0")) {
    ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
    ct2_element.setAttribute('style', 'display:block;');
    return false;
  }
  else {
    ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
    ct2_element.setAttribute('style', 'display:none;');
    return true;
  }
}

//Security Check
function display_question(){
  var operators = ['plus','minus'];
  var number1 = document.getElementById('num1');
  var number2 = document.getElementById('num2');
  var operator_display = document.getElementById('operator');
  var result = document.getElementById('user_result');
  var captcha = document.getElementById('captcha');
  var num1 = Math.floor(Math.random()*10);
  var num2 = Math.floor(Math.random()*10);
  var operator = operators[Math.floor(Math.random()*operators.length)];
  if ((operator == 'plus') || (operator == 'minus' && num1 >= num2)){
    number1.innerHTML = num1;
    number2.innerHTML = num2;
    operator_display.innerHTML = operator;
    result.setAttribute('style', 'display:block;');
    captcha.setAttribute('style', 'display:block;');
  } else {
    number1.innerHTML = num1;
    number2.innerHTML = num2;
    operator_display.innerHTML = 'plus';
    result.setAttribute('style', 'display:block;');
    captcha.setAttribute('style', 'display:block;');
  }
}

function SecurityCheck(val){
  //alert("in security check");
  //alert("val"+val);
  var number1 = document.getElementById('num1');
  var number2 = document.getElementById('num2');
  var inputbox = document.getElementById('user_result');
  var operator_display = document.getElementById('operator');
  var error_message = document.getElementById('error_message');
  var result = 0;
  if(operator_display.innerHTML == 'plus'){
    result = parseInt(number1.innerHTML) + parseInt(number2.innerHTML);
  }else{
    result = parseInt(number1.innerHTML) - parseInt(number2.innerHTML);
  }
  if(val == result){
   // alert("val"+val);
    //alert("result" +result);
    error_message.setAttribute('style', 'display:none;');
    inputbox.setAttribute('style', 'border:1px solid #bbbbbb;');
      
    return true;
  }else{
   // alert("secrurity else");
      
    inputbox.setAttribute('style', 'border:1px red solid; background:#ffefef;');
    error_message.setAttribute('style', 'display:block; color:red;');

    return false;
  }
}
//On Submit Qjob form validation
function validate(form_id){
  //alert(form_id);

  var job_title=document.getElementById('job_title');
  var error_job_title=document.getElementById('error_job_title');

  var company_name=document.getElementById('company_name');
  var error_company_name=document.getElementById('error_company_name');

  var job_description=document.getElementById('job_description');
  var error_job_description=document.getElementById('error_job_description');

  var location=document.getElementById('location');
  var error_location=document.getElementById('error_location');

  var how_to_apply_email=document.getElementById('how_to_apply_email');
  var error_how_to_apply_email=document.getElementById('error_how_to_apply_email');

  if(form_id=="new_job_if"){
    var email=document.getElementById('email');
    var error_email=document.getElementById('error_email');

    var ex_email=document.getElementById('ex_email');
    var error_ex_email=document.getElementById('error_ex_email');

    var ex_password=document.getElementById('ex_password');
    var error_ex_password=document.getElementById('error_ex_password');

    var QJob_DontReg=document.getElementById('QJob-DontReg');

    var captcha_result=document.getElementById('user_result');
  }

  function chkuser(){
      
    ///validation for existing user
    if(QJob_DontReg.style.display=="none"){
      if((ex_email.value.trim()=="")||(echeck(ex_email.value)==false)||(ex_password.value.trim()=="")){
        if((ex_email.value.trim()=='')||(echeck(ex_email.value)==false)){
          ex_email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_ex_email.setAttribute('style', 'display:block;');
        }
        if(ex_password.value.trim()==''){
          ex_password.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_ex_password.setAttribute('style', 'display:block;');
          return false;
        }
        return false;
      } else{
        return true;
      }
    }else{
      if((email.value.trim()=="")||(echeck(email.value)==false)){
        email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_email.setAttribute('style', 'display:block;');
        return false;
      }else{
        return true;
      }
    }
  }
  //word check
  function count_words(tbox_input) {
    //alert("in count_words");
    var msg = "";
    var c = 0;
    w = document.getElementById(tbox_input).value.split(" ");
    no_words = w.length;
    //alert(no_words);
    for (x = 0; x < no_words; x++) {
      if (c >= 200){
        //    alert("more than 200");
        //alert(no_words+"Only thiry words please!");
        //document.getElementById('err_msg').style.display="block";
        document.getElementById('job_description').style.color="red";
        document.getElementById('job_description').style.border="red 1px solid";
        document.getElementById('job_description').style.background="#ffefef";
        //document.getElementById('company_overview').style.background="red";
        //tbox_input.value = msg;
        // break;
        document.getElementById('error_job_description').style.display="block";
        //document.getElementById('error_required').style.display="block";

        return false;
      }
      else {
        document.getElementById('job_description').style.color="black";
        document.getElementById('job_description').style.border="gray 1px solid";
        document.getElementById('job_description').style.background="#fff";
        document.getElementById('error_job_description').style.display="none";
        // document.getElementById('error_required').style.display="none";
      }
      msg = msg + w[x] + " ";
      c++;
    }
    if(c <= 200){
      // alert("less t han 200");
      //       return true;
    }

  }
  //alert(chkuser());
  if(form_id=="new_job_if")
  {
    var toggle_set_id_1= document.getElementById('already_member');
    var  toggle_set_id_2= document.getElementById('dont_want_register');

    if(toggle_set_id_1.checked)
    {
     // alert("inside if");

      if((job_title.value.trim()=="")||(company_name.value.trim()=="")||count_words('job_description')==false||
        (location.value.trim()=="")||(how_to_apply_email.value.trim()=="")||(ex_email.value.trim()=="")||(echeck(ex_email.value)==false)||
        (ex_password.value.trim()=="")||(echeck(how_to_apply_email.value)==false)){
        //alert("inside if if");
       
       if(job_title.value.trim()==''){
        
       // alert("in title");
          job_title.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_job_title.setAttribute('style', 'display:block;');
        }
        if(company_name.value.trim()==""){
        //alert("in cpmny name");
          company_name.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_company_name.setAttribute('style', 'display:block;');
        }
        if(count_words('job_description')==false){
        //alert("in count words");
          job_description.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_job_description.setAttribute('style', 'display:block;');
        }
        if(location.value.trim()==""){
         // alert("inlcoatione");
          location.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_location.setAttribute('style', 'display:block;');
        }
        if((how_to_apply_email.value.trim()=="")||(echeck(how_to_apply_email.value)==false)){
         // alert("in apply email");
          how_to_apply_email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_how_to_apply_email.setAttribute('style', 'display:block; clear:both;');
        }
        if((ex_email.value.trim()=="")||(echeck(ex_email.value)==false)){
         // alert("in exemail");
          ex_email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_ex_email.setAttribute('style', 'display:block; clear:both;');
        }
        if(ex_password.value.trim()=="")
        {
          ex_password.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_ex_password.setAttribute('style', 'display:block; clear:both;');
        }
        //alert(captcha_result);

        return false;
      }
      else {
        return true;
        //document.Qjobs.submit();
      }
    }
    else if(toggle_set_id_2.checked)
      {
        //alert("in toggle eles");
        //alert("inside if");

      if((job_title.value.trim()=="")||(company_name.value.trim()=="")||count_words('job_description')==false||
        (location.value.trim()=="")||(how_to_apply_email.value.trim()=="")||(email.value.trim()=="")||(echeck(email.value)==false)
        ||(captcha_result.value.trim()=="")||(echeck(how_to_apply_email.value)==false)||(SecurityCheck(captcha_result.value)==false)){
        //alert("inside if if");

       if(job_title.value.trim()==''){

       // alert("in title");
          job_title.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_job_title.setAttribute('style', 'display:block;');
        }
        if(company_name.value.trim()==""){
       // alert("in cpmny name");
          company_name.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_company_name.setAttribute('style', 'display:block;');
        }
        if(count_words('job_description')==false){
       // alert("in count words");
          job_description.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_job_description.setAttribute('style', 'display:block;');
        }
        if(location.value.trim()==""){
          //alert("inlcoatione");
          location.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_location.setAttribute('style', 'display:block;');
        }
        if((how_to_apply_email.value.trim()=="")||(echeck(how_to_apply_email.value)==false)){
         // alert("in apply email");
          how_to_apply_email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
          error_how_to_apply_email.setAttribute('style', 'display:block; clear:both;');
        }
        
        //alert(captcha_result);

        return false;
      }
      else {
        return true;
        //document.Qjobs.submit();
      }
      }
  
}
    
  else if(form_id=="new_job_else")
  {
    if((job_title.value.trim()=="")||(company_name.value.trim()=="")||
      (location.value.trim()=="")||(how_to_apply_email.value.trim()=="")||(echeck(how_to_apply_email.value)==false)){
      if(job_title.value.trim()==''){
        job_title.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_job_title.setAttribute('style', 'display:block;');
      }
      if(company_name.value.trim()==""){
        company_name.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_company_name.setAttribute('style', 'display:block;');
      }
      if(count_words('job_description')==false){
        job_description.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_job_description.setAttribute('style', 'display:block;');
      }
      if(location.value.trim()==""){
        location.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_location.setAttribute('style', 'display:block;');
      }
      if((how_to_apply_email.value.trim()=="")||(echeck(how_to_apply_email.value)==false)){
        how_to_apply_email.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        error_how_to_apply_email.setAttribute('style', 'display:block; clear:both;');
      }
      
      return false;
    }
    else {
      return true;
      //document.Qjobs.submit();
    }
  }

}
function echeck(str) { 
  var at="@"
  var dot="."
  var lat=str.indexOf(at)
  var lstr=str.length
  var ldot=str.indexOf(dot)
  if (str.indexOf(at)==-1){
    return false
  }
  if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
    return false
  }
  if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
    return false
  }
  if (str.indexOf(at,(lat+1))!=-1){
    return false
  }
  if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
    return false
  }
  if (str.indexOf(dot,(lat+2))==-1){
    return false
  }
  if (str.indexOf(" ")!=-1){
    return false
  }
  return true
}

function word_count(text, doc)
{
  text = text.replace(/^\s*|\s*$/g,''); //removes whitespace from front and end
  var text1 = text.replace(/[^A-Za-z0-9]+/gi," ");
  var countarray = text1.split(" ");
  if(text=="")
  {
    doc.value = 200;
  }
  else
  {
    doc.value = 200 - countarray.length;
  }
}
</script>
<!-- wrap -->
<div id="wrap">
  <!-- main -->
  <div id="main">
    <div id="search_box">
      <!--search for your next design job begins...-->
      <form method="post" action="/jobs/search">
        <input id="search_textfield" name="search_textfield" type="text" size="45" maxlength="75" ></input>
        <div id="portfolio_search_button"></div>
      </form>
    </div>
    <!-- search "ends" here -->
    <% if  flash[:notice_job_appliction_after_login] then %>
      <div class="flash_success_msg">
        <%=flash[:notice_job_appliction_after_login]%>
      </div>
    <%end%>
    <% if  flash[:notice_job_appliction_before_login] then %>
      <div class="flash_success_msg">
        <%=flash[:notice_job_appliction_before_login]%>
      </div>
    <%end%>
    <!-- main inner -->
    <div id="main_inner">
      <!--Job Listing view box-->
      <!--Quick Job Result-->
      <!--Home Job view box-->
      <div id="jobs" style="background-color: red;">
        <%= render :partial => @jobs %>
      </div>
      <!--Home Job view box end-->
    </div>
    <!--main inner end-->
    <% if Job.count >= 10 then %>
      <div class="clear"></div>
      <div id="more_button" onclick="moreJobs(<%=  @records_for_more_button.length %>)"></div>
    <% end %>
    <div class="clear"></div>
  </div>
  <!-- main end -->
  <!-- sider -->
  <div id="sidebar">
    <% if session[:loggedin_user].nil? or session[:loggedin_user].blank? then %>
      <form action="/jobs/create" class="new_job" id="new_job" method="post" name="Qjobs" onsubmit="javascript:return validate('new_job_if');">
        <h2>Post a Quick Job</h2>
        <label>Job Title<span class="required_field">*</span></label>
        <input type="text" name="job[job_title]" id="job_title"  maxlength="29" onblur="validation('job_title','error_job_title')"/>
        <div id="error_job_title" class="error_msg" >
          please provide job title
        </div>
        <label>Company Name<span class="required_field">*</span></label>
        <input type="text" name="job[company_name]" id="company_name" maxlength="28" onblur="validation('company_name','error_company_name')"/>
        <div id="error_company_name" class="error_msg" >
          please provide company name
        </div>
        <label>Location<span class="required_field">*</span></label>
        <input type="text" name="job[location]" id="location" maxlength="20" onblur="validation('location','error_location')"/>
        <div id="error_location" class="error_msg" >
          please provide location
        </div>
        <label id="job_description_label" style="width:265px;">Job Description<span style="float:right;color: black;background-color: transparent;font-size: 11px;"><input type="text" id="text" name="text" value="200" style="border:none;font-size: 12px; background-color:transparent; color: black;width: 25px; height: 10px;text-align: left;padding-top: 7px;"disabled/>words</span></label>
        <textarea id="job_description" onkeyup="word_count(this.value, text)" name="job[job_description]"></textarea>
        <div id="error_job_description" class="error_msg">
          please limit the Job description to 200 words
        </div>
        <label id="apply_via_email">Enter email to recieve job applications<span class="required_field">*</span></label>
        <input type="text"  name="job[how_to_apply_email]" id="how_to_apply_email" maxlength="50" onblur="validation('how_to_apply_email','error_how_to_apply_email')"/>
        <div id="error_how_to_apply_email" class="error_msg">
          please provide email to apply
        </div>

        <div class="clear"></div>
        <div id="Qjob-side-member">
          <label>
            <input type="radio" id="already_member" name="itemtype" value="QJob-Member" onclick="toggleSet(this)" checked="true"/>
            Already a member of DezineConnect
          </label>
          <label>
            <input type="radio" id="dont_want_register" name="itemtype" value="QJob-DontReg" onclick="toggleSet(this)" />
            I don't want to register
          </label>
        </div>
        <div id="Qjob-side-bottom">
          <!-- Already a member -->
          <div id="QJob-Member">
            <label>email<span class="required_field">*</span></label>
            <input type="text" name="ex_email" id="ex_email" onblur="validation('ex_email','error_ex_email')"/>
            <div id="error_ex_email" class="error_msg">
              please provide email
            </div>
            <label>password<span class="required_field">*</span>
              <a id="forgot_password" href="/forgot">forgot password</a></label>
  <%#*<span id="forgot_password"><a id="forgot_password" href="/forgot">forgot_password</a></span> </label>%>
            <input type="password"  name="ex_password" id="ex_password" onblur="validation('ex_password','error_ex_password')"/>
            <div id="error_ex_password" class="error_msg" >
              please provide password
            </div>
          </div>


          <!-- don't want to Register div -->
          <div id="QJob-DontReg">
            <label>Your Email<span class="required_field">*</span></label>
            <!--<span>(This is to activate the job posting)</span>-->
            <input type="text" name="job[email]" size="30" id="email" onblur="validation('email','error_email')"/>
            <div id="error_email" class="error_msg" >
              please provide email
            </div>
            <label id="captcha" style="display:none;">A quick math question</label>
            <span>
              <label  id="num1" style="width:10px; float: left;"></label>
              <label id="operator" style="width:35px; text-align: center;float: left;"></label>
              <label id="num2" style="width:10px; float: left;"></label>
              <label style="width:20px;text-align: center; float: left;">=</label>
              <input id="user_result" type="text" maxlength="2" size="1" onblur="SecurityCheck(this.value);"/>
              <label id="error_message" style="display:none;">Incorrect Value</label>
            </span>

          </div>


          <!-- Form Submit button -->
          <input type="submit" value="" id="QJobPost_btn"/>
          <div class="error_msg" id="error_required" style="margin: 23px 0px 0px -80px;">
            Please fill out the required data above
          </div>

        </div>
      </form>
    <% else %>
      <form action="/jobs/create_after_login" class="new_job" id="new_job" method="post" name="Qjobs" onsubmit="javascript:return validate('new_job_else');">
        <h2>Post a Quick Job</h2>
        <label>Job Title<span class="required_field">*</span></label>
        <input type="text" name="job[job_title]" id="job_title" maxlength="29"  onblur="validation('job_title','error_job_title')"/>
        <div id="error_job_title" class="error_msg" >
          please provide job title
        </div>
        <label>Company Name<span class="required_field">*</span></label>
        <input type="text" name="job[company_name]" id="company_name"  maxlength="28" onblur="validation('company_name','error_company_name')"/>
        <div id="error_company_name" class="error_msg" >
          please provide company name
        </div>
        <label>Location<span class="required_field">*</span></label>
        <input type="text" name="job[location]" id="location" maxlength="20" onblur="validation('location','error_location')"/>
        <div id="error_location" class="error_msg" >
          please provide location
        </div>
        <label id="job_description_label" style="width:265px;">Job Description<span style="float:right;color: black;background-color: transparent;font-size: 11px;"><input type="text" id="text" name="text" value="200" style="border:none;font-size: 12px; background-color:transparent; color: black;width: 25px; height: 10px;text-align: left;padding-top: 7px;"disabled/>words</span></label>
        <textarea id="job_description"  onkeyup="word_count(this.value, text)" name="job[job_description]" rows="50" cols="35"></textarea>
        <div id="error_job_description" class="error_msg">
          please limt the Job description to 200 words
        </div>
        <label id="apply_via_email">Enter email to recieve job applications<span class="required_field">*</span></label>
        <input type="text" size="30" name="job[how_to_apply_email]" id="how_to_apply_email" maxlength="50" onblur="validation('how_to_apply_email','error_how_to_apply_email')"/>
        <div id="error_how_to_apply_email" class="error_msg">
          please provide email to apply
        </div>

        <div class="clear"></div>



        <!-- Form Submit button -->
        <input type="submit" value="" id="QJobPost_btn"/>
        <div class="error_msg" id="error_required" style="margin: 23px 0px 0px -80px;">
          Please fill out the required data above
        </div>

      </form>
    <% end %>
  </div>
  <!-- sider end -->
</div>
<!-- wrap end-->