<%= stylesheet_link_tag 'design_directories_information'  %>
<%= stylesheet_link_tag 'jobs_show' %>
<%= javascript_include_tag 'jquery-1.3.2.min' %>
<%= javascript_include_tag 'word_count' %>
<style type="text/css">
 
</style>
<script type="text/javascript">
  function echeck(str) {
    var at="@"
    var dot="."
    var lat=str.indexOf(at)
    var lstr=str.length
    var ldot=str.indexOf(dot)
    if (str.indexOf(at)==-1){
      return false
    }
    if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
      return false
    }
    if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
      return false
    }
    if (str.indexOf(at,(lat+1))!=-1){
      return false
    }
    if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
      return false
    }
    if (str.indexOf(dot,(lat+2))==-1){
      return false
    }
    if (str.indexOf(" ")!=-1){
      return false
    }
    return true
  }
  function validation(ctl,ct2) {
    
    var ctl_element=document.getElementById(ctl);
    var ct2_element=document.getElementById(ct2);
    if((ctl_element.id=="email")||(ctl_element.id=="ex_email")||(ctl_element.id=="email_apply")){
      if(echeck(ctl_element.value)==false){
        ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        ct2_element.setAttribute('style', 'display:block;');
        return false;
      }else{
        ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
        ct2_element.setAttribute('style', 'display:none;');
      }
    }

    if((ctl_element.value.trim()=="")||(ct2_element.value=="0")) {
      ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
      ct2_element.setAttribute('style', 'display:block;');
      return false;
    }
    else {
      ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
      ct2_element.setAttribute('style', 'display:none;');
      return true;
    }
  }

  //On Submit Qjob form validation
  function validate(){
    
    var error_required = document.getElementById('error_required');
    var name_apply=document.getElementById('name_apply');
   

    var email_apply=document.getElementById('email_apply');
    

    var specialization_apply=document.getElementById('specialization_apply');
    

    //word check
    function count_words(tbox_input) {
      //alert("in count_words");
      var msg = "";
      var c = 0;
      w = document.getElementById(tbox_input).value.split(" ");
      no_words = w.length;
      //alert(no_words);
      for (x = 0; x < no_words; x++) {
        if (c >= 200){
          //    alert("more than 200");
          //alert(no_words+"Only thiry words please!");
          //document.getElementById('err_msg').style.display="block";
          document.getElementById('job_description').style.color="red";
          document.getElementById('job_description').style.border="red 1px solid";
          document.getElementById('job_description').style.background="#ffefef";
          //document.getElementById('company_overview').style.background="red";
          //tbox_input.value = msg;
          // break;
          document.getElementById('error_job_description').style.display="block";
          document.getElementById('error_required').style.display="block";

          return false;
        }
        else {
          document.getElementById('job_description').style.color="black";
          document.getElementById('job_description').style.border="gray 1px solid";
          document.getElementById('job_description').style.background="#fff";
          document.getElementById('error_job_description').style.display="none";
          document.getElementById('error_required').style.display="none";
        }
        msg = msg + w[x] + " ";
        c++;
      }
      if(c <= 200){
        // alert("less t han 200");
        //       return true;
      }

    }
    //alert(chkuser());

    if((name_apply.value.trim()=="")||(email_apply.value.trim()=="")||
      (specialization_apply.value.trim()=="")||(echeck(email_apply.value)==false)){
      if(name_apply.value.trim()==''){
        
        name_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
       
      }
  
      if(specialization_apply.value.trim()==""){
        
        specialization_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        
      }

      if((email_apply.value.trim()=="")||(echeck(email_apply.value)==false)){
        
        email_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
     
      }
      error_required.setAttribute('style', 'display:block; margin-left: 10px;');
      return false;
      
    }
    else {
      return true;
      //document.Qjobs.submit();
    }
  }
  
</script>

<div id="wrap"><!-- wrap -->
  <div id="jobs_top_bar">


    <% unless session[:user_activated_to_show_page].nil? && session[:loggedin_user].nil? && session[:user_activated_to_show_page].blank? && session[:loggedin_user].blank? then %>
      <!--portfolio top bar user view-->
      <% unless session[:search_string].blank? then %>
        <%  search_result_array = Array.new
        logger.info  "session[:search_string] : #{session[:search_string]}"
        @xapian_search_results = ActsAsXapian::Search.new([Job], session[:search_string], :limit => 10000, :conditions => {:activate => 1}, :sort_by_prefix => "updated_at")
        @xapian_search_results.results.each do | search_value |
          search_result_array << search_value[:model][:id]
        end
        if search_result_array.empty? then
          search_result_array = session[:search_result_spell_correction_array] unless session[:search_result_spell_correction_array].nil?
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@job.id)
        logger.info  "search_result_array : #{index_value}" %>
        <% if index_value.nil? then %>
          <div id="jobs_top_bar_search"> <a href="/jobs">back to homepage</a> </div>
        <% else %>
          <div id="jobs_top_bar_search">
            <a href="/jobs">HomePage</a> |
            <a href="/jobs/search?search_textfield=<%= session[:search_string] %>">Back to Search Results</a>
          </div>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value - 1].blank? then %>
            <div id="jobs_top_bar_previous"><a href="/jobs/show/<%= search_result_array[index_value - 1] %>">Previous job</a></div>
          <% end %>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value + 1].blank? then %>
            <div id="jobs_top_bar_next"><a href="/jobs/show/<%= search_result_array[index_value + 1] %>">next job</a></div>
          <% else %>
            <div id="jobs_top_bar_next"><a href="/jobs/show/<%= search_result_array[0] %>">next job</a></div>

          <% end %>
        <% end %>
        <% session[:search_string] == "" %>
      <% else %>

        <div id="jobs_top_bar_search">
          <a href="/jobs">Back to HomePage</a>
        </div>
        <%  search_result_array = Array.new
        @xapian_search_results = Job.find(:all, :conditions => {:activate => 1}, :order => 'updated_at DESC')
        @xapian_search_results.each do | search_value |
          search_result_array << search_value[:id]
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@job.id)
        logger.info  "search_result_array : #{index_value}"
      %>
        <% unless search_result_array[index_value - 1].blank? then %>
          <div id="jobs_top_bar_previous">
            <a href="/jobs/show/<%= search_result_array[index_value - 1] %>">Previous job</a>
          </div>
        <% end %>
        <% unless search_result_array[index_value + 1].blank? then %>
          <div id="jobs_top_bar_next">
            <a href="/jobs/show/<%= search_result_array[index_value + 1] %>">Next job</a>
          </div>
        <% else %>
          <div id="jobs_top_bar_next">
            <a href="/jobs/show/<%= search_result_array[0] %>">Next job</a>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% unless session[:search_string].blank? then %>
        <%  search_result_array = Array.new
        logger.info  "session[:search_string] : #{session[:search_string]}"
        @xapian_search_results = ActsAsXapian::Search.new([Job], session[:search_string], :limit => 10000,:joins => :user, :conditions => {:activate => 1}, :sort_by_prefix => "updated_at")
        @xapian_search_results.results.each do | search_value |
          search_result_array << search_value[:model][:id]
        end
        if search_result_array.empty? then
          search_result_array = session[:search_result_spell_correction_array] unless session[:search_result_spell_correction_array].nil?
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@job.id)
        logger.info  "search_result_array : #{index_value}"%>


        <% if index_value.nil? then %>
          <div id="jobs_top_bar_search">
            <a href="/jobs">Back to HomePage</a>
          </div>
        <% else %>
          <div id="jobs_top_bar_search">
            <a href="/jobs">HomePage</a> |
            <a href="/jobs/search?search_textfield=<%= session[:search_string] %>">Back to Search Results</a>
          </div>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value - 1].blank? then %>
            <div id="jobs_top_bar_previous">
              <a href="/jobs/show/<%= search_result_array[index_value - 1] %>">Previous job</a>
            </div>
          <% end %>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value + 1].blank? then %>
            <div id="jobs_top_bar_next">
              <a href="/jobs/show/<%= search_result_array[index_value + 1] %>">Next job</a>
            </div>
          <% else %>
            <div id="jobs_top_bar_next">
              <a href="/jobs/show/<%= search_result_array[0] %>">Next job</a>
            </div>
          <% end %>
        <% end %> 
        <% session[:search_string] == "" %>
      <% else %>

        <div id="jobs_top_bar_search">
          <a href="/jobs">Back to HomePage</a>
        </div>
        <%  search_result_array = Array.new
        @xapian_search_results = Job.find(:all, :conditions => {:activate => 1},:order => 'updated_at DESC')
        @xapian_search_results.each do | search_value |
          search_result_array << search_value[:id]
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@job.id)
        logger.info  "search_result_array : #{index_value}"
      %>
        <% unless search_result_array[index_value - 1].blank? then %>
          <div id="jobs_top_bar_previous">
            <a href="/jobs/show/<%= search_result_array[index_value - 1] %>">Previous job</a>
          </div>
        <% end %>
        <% unless search_result_array[index_value + 1].blank? then %>
          <div id="jobs_top_bar_next">
            <a href="/jobs/show/<%= search_result_array[index_value + 1] %>">Next job</a>
          </div>
        <% else %>
          <div id="jobs_top_bar_next">
            <a href="/jobs/show/<%= search_result_array[0] %>">Next job</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>




  <div id="main"><!-- main -->

    <div id="job_company">
        <h1><%=h @job.job_title %></h1>
        <h2><%=h @job.company_name %></h2>
    </div>
    
       <h3><%=h @job.location %></h3>
     
    
    <div id="description">
      <%=  RedCloth.new(@job.job_description).to_html %>
    </div>
    <div id="main_inner"><!-- main inner -->


      <% if session[:loggedin_user].nil? then %>
        <!--Apply job form-->
        <form method="post" action="/job_applications/create" enctype="multipart/form-data" name="QjobsApply" onsubmit="javascript:return validate();">
          <div id="QJob-Apply-RoundedShade" >
            <h4>Apply</h4>
            <div id="QJob-Apply">
              <div id="QJob-name">
                <input type="hidden" name="job_application[job_id]" value="<%= @job.id %>"/>
                <label>Name<span style="color:red;">*</span>
                </label>
                <input type="text" size="35"  id="name_apply" name="job_application[Name]" onblur="validation('name_apply','error_name');"/>

              </div>

              <div id="QJob-email">
                <label>Email<span style="color:red;">*</span></label>
                <input type="text" size="40" id="email_apply" name="job_application[email]" onblur="validation('email_apply','error_email');"/>

              </div>
              <div id="QJob-specialization">
                <label>Specialization<span style="color:red;">*</span></label>
                <input type="text" size="35" id="specialization_apply" name="job_application[specialization]" onblur="validation('specialization_apply','error_specialization');"/>

              </div>
              <label>Cover Letter</label>
              <textarea id="cover_letter" cols="20" rows="20" style="width:590px;" class="count[200]" onblur="count_words('cover_letter')" name="job_application[cover_letter]"></textarea>

            </div>
            <div id="QJob-Apply-Upload">
              <div>
                <p>Resume & Portfolio</p>
                <span>
                  <label>Upload your Resume <s>(max.500kb)</s></label>
                  <input id="upload_resume_input" size="38" type="file" name="job_application[resume]"/>
                  <div id="error_upload_resume_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
                <label id="or_label">or</label>
                <span>
                  <label>Link to your Resume</label>
                  <input id="link_input" type="text" value="http://" name="job_application[resume_link]"/>
                  <div id="error_link_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
              </div>

              <div>
                <span>
                  <label>Upload your Portfolio <s id="max_1_mb">(max.1MB)</s></label>
                  <input type="file" size="38" name="job_application[portfolio]"/>
                </span>
                 <label id="or_label">or</label>
                <span>
                  <label>Link to your Portfolio</label>
                  <input id="link_input" type="text" value="http://" name="job_application[portfolio_link]"/>
                </span>
              </div>
            </div>


            <input type="submit" value="" id="job_apply_btn"/>
            <div class="error_msg" id="error_required">
              Please fill out the required data above
            </div>
          </div>

        </form>

      <% else %>
        <form method="post" action="/job_applications/create_after_login" enctype="multipart/form-data" name="QjobsApply" onsubmit="javascript:return validate();">
          <div id="QJob-Apply-RoundedShade" >
            <h4>Apply</h4>
            <div id="QJob-Apply">
              <div id="QJob-name">
                <input type="hidden" name="job_application[job_id]" value="<%= @job.id %>"/>
                <label>Name<span style="color:red;">*</span>
                </label>
                <input type="text" size="35"  id="name_apply" name="job_application[Name]" onblur="validation('name_apply','error_name');"/>

              </div>

              <div id="QJob-email">
                <label>Email<span style="color:red;">*</span></label>
                <input type="text" size="40" id="email_apply" name="job_application[email]" onblur="validation('email_apply','error_email');"/>

              </div>
              <div id="QJob-specialization">
                <label>Specialization<span style="color:red;">*</span></label>
                <input type="text" size="35" id="specialization_apply" name="job_application[specialization]" onblur="validation('specialization_apply','error_specialization');"/>

              </div>
              <label>Cover Letter</label>
              <textarea id="cover_letter" cols="20" rows="20" style="width:590px;" class="count[200]" onblur="count_words('cover_letter')" name="job_application[cover_letter]"></textarea>

            </div>
            <div id="QJob-Apply-Upload">
              <div>
                <p>Resume & Portfolio</p>
                <span>
                  <label>Upload your Resume</label>
                  <input id="upload_resume_input" size="38" type="file" name="job_application[resume]"/>
                  <div id="error_upload_resume_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
                <label id="or_label">or</label>
                <span>
                  <label>Link to your Resume</label>
                  <input id="link_input" type="text" value="http://" name="job_application[resume_link]"/>
                  <div id="error_link_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
              </div>

              <div>
                <span>
                  <label>Upload your Portfolio</label>
                  <input type="file" size="38" name="job_application[portfolio]"/>
                </span>
              <label id="or_label">or</label>
                <span>
                  <label>Link to your Portfolio</label>
                  <input id="link_input" type="text" value="http://" name="job_application[portfolio_link]"/>
                </span>
              </div>
            </div>


            <input type="submit" value="" id="job_apply_btn"/>
            <div class="error_msg" id="error_required">
              Please fill out the required data above
            </div>
          </div>

        </form>
      <% end %>

    </div>

  </div>
</div>