<%= stylesheet_link_tag 'design_directories_information'  %>
<%= stylesheet_link_tag 'jobs_show' %>
<%= javascript_include_tag 'jquery-1.3.2.min' %>
<%= javascript_include_tag 'word_count' %>
<style type="text/css">
  body{
    font-family: Century Gothic, Lucida Grande, Lucida Sans Unicode, helvetica, sans-serif;
    
  }
  #main label{
    font-size: 12px;
    clear:left;
    float:left;
  }
  #main {
    position: relative;
    margin:20px 0px 0px 0px;
  }
  #main h1, #main h2, #main h3, #main_inner h4 {
    margin: 0px;
    border:none;
  }
  #main h1 {
    font-size: 30px;
    color: #5d5c5c;
    float:left;
    margin-right: 10px;
  }
  #main h2{
    font-size: 12px;
    margin: 15px 0px 0px 0px;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
  }
  #main h3{
    font-size: 12px;
    position:absolute;
    right: 0px;
    top: 16px;
  }
  #main #description p{ 
    margin-bottom: 20px;
    margin-left: 0px;
  }
  #main_inner{
    /*margin: 15px 15px 15px 15px;*/
    width: 650px;
    font-size: 11px;
  }
  #main_inner h4{
    margin: 10px 0px 5px 0px;
    font-size: 18px;
  }
  #main_inner #QJob-Apply {
    height: 210px;
  }
  #main_inner #QJob-Apply #QJob-name div{
    float: left;
  }
  #main_inner #QJob-Apply #QJob-name
  {
    float: left;
  }
  #main_inner #QJob-Apply #QJob-email{
    float: left;
    margin-left: 10px;
  }
  #main_inner #QJob-specialization{
    width: 196px;
  }
  #main_inner #QJob-Apply-Upload{
    height: 170px;
    margin-bottom: 50px;
  }
  #main_inner #QJob-Apply-Upload div{
    /*float: left;*/
    width: 590px;
    padding: 3px 0px 3px 0px;
    font-size: 12px;
    color: #333333;
    /*border-bottom: 1px dotted #787878;*/
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-family: Century Gothic;
  }
  #main_inner #QJob-Apply-Upload div span{
    display: block;
    height: 30px;
    position: relative;
    font-size: 12px;
    color: #333333;
    font-family: Century Gothic;
  }

  #main_inner #QJob-Apply-Upload div span label {
    float: left;
    width: 150px;
    display: block;
  }
  #main_inner #QJob-Apply-Upload div span input {
    position: absolute;
    top: 0px;
    left: 150px;
    margin: 0px;
    width: 395px;
  }
  #main_inner #QJob-Apply-Upload div span #link_input
  {
    font-size: 12px;
    padding: 4px 4px 5px 4px;

  }
  #main_inner #QJob-Apply-Upload div p
  {
    margin-bottom: 10px;
    color:#666666;
  }
  #description .caps
  {
    color: #333333;
  }
  #main_inner #QJob-Apply-RoundedShade {
    background: #fff;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;

    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    width: 635px;
    /*width: 590px;*/
    margin: 0px 0px 20px 0px;
    padding: 5px 5px 5px 10px;
    color: #333333;
    float: left;
    position: relative;

  }
  #QJob-Apply label{
    width: auto;
    /*background-color: red;*/
    float: left;
  }
  #QJob-Apply label span{
    font-size: 10px;
    font-style: italic;
    color:#333333;

  }
  #QJob-Apply input
  {

  }
  #Qjob-side-member{
    border-bottom: #ccc 1px  dotted;
    margin: 0px 0px 5px 0px ;
    padding: 5px 0px;
    height: 70px;
    width: 585px;
  }
  .wordCount
  {
    color: #666666;
    position: absolute;
    top: 185px;
    right: 40px;
    width:60px;
  }
  .wordCount strong
  {
    margin-right: 3px;
}

  #Qjob-side-member label{
    margin: 3px 0px  ;
  }
  #Qjob-side-member input {
    border: none;
  }
  #Qjob-side-bottom{
    border: none;
    width: 585px;
    height: 240px;
  }
  #main_inner div input
  {

  }
  .error_msg {
    color: red;
    margin: 30px 0px 0px -205px;


  }
  #Qjob-side-bottom #QJob-DontReg span img{
    margin: 5px 2px;
    float: left;
  }
  #QJob-DontReg {
    text-align:  left;
    height:100px;
  }
  #QJob-DontReg label {
    float: left;
    clear: both;
    margin: 3px 0px;
  }
  #QJob-DontReg span {
    clear: both;
    display: block;
    font-size:10px;
    color:#333333;
    font-style: italic;
  }
  #Qjob-side-bottom #QJob-Member{
    position: relative;
    display: block;
    height: 130px;
  }
  #Qjob-side-bottom #QJob-Member h5{
    margin: 0px;
    font-weight: normal;
    font-size: 12px;
    color: orange;
    position: absolute;
    left: 113px;
    top: 75px;
  }

  #QJob-Apply-RoundedShade #job_apply_btn
  {
    background: url('/images/btn_upload_apply.png') no-repeat;
    width: 150px;
    height: 34px;
    border: none;
    cursor: pointer;
    margin:  20px 0px 20px 0px;
  }
</style>
<script type="text/javascript">
  function echeck(str) {
    var at="@"
    var dot="."
    var lat=str.indexOf(at)
    var lstr=str.length
    var ldot=str.indexOf(dot)
    if (str.indexOf(at)==-1){
      return false
    }
    if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
      return false
    }
    if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
      return false
    }
    if (str.indexOf(at,(lat+1))!=-1){
      return false
    }
    if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
      return false
    }
    if (str.indexOf(dot,(lat+2))==-1){
      return false
    }
    if (str.indexOf(" ")!=-1){
      return false
    }
    return true
  }
  function validation(ctl,ct2) {
    
    var ctl_element=document.getElementById(ctl);
    var ct2_element=document.getElementById(ct2);
    if((ctl_element.id=="email")||(ctl_element.id=="ex_email")||(ctl_element.id=="email_apply")){
      if(echeck(ctl_element.value)==false){
        ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        ct2_element.setAttribute('style', 'display:block;');
        return false;
      }else{
        ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
        ct2_element.setAttribute('style', 'display:none;');
      }
    }

    if((ctl_element.value.trim()=="")||(ct2_element.value=="0")) {
      ctl_element.setAttribute('style', 'border:1px red solid; background:#ffefef;');
      ct2_element.setAttribute('style', 'display:block;');
      return false;
    }
    else {
      ctl_element.setAttribute('style', 'border:1px #ccc solid; background:#fff;');
      ct2_element.setAttribute('style', 'display:none;');
      return true;
    }
  }

  //On Submit Qjob form validation
  function validate(){
    
    var error_required = document.getElementById('error_required');
    var name_apply=document.getElementById('name_apply');
   

    var email_apply=document.getElementById('email_apply');
    

    var specialization_apply=document.getElementById('specialization_apply');
    

    //word check
    function count_words(tbox_input) {
      //alert("in count_words");
      var msg = "";
      var c = 0;
      w = document.getElementById(tbox_input).value.split(" ");
      no_words = w.length;
      //alert(no_words);
      for (x = 0; x < no_words; x++) {
        if (c >= 200){
          //    alert("more than 200");
          //alert(no_words+"Only thiry words please!");
          //document.getElementById('err_msg').style.display="block";
          document.getElementById('job_description').style.color="red";
          document.getElementById('job_description').style.border="red 1px solid";
          document.getElementById('job_description').style.background="#ffefef";
          //document.getElementById('company_overview').style.background="red";
          //tbox_input.value = msg;
          // break;
          document.getElementById('error_job_description').style.display="block";
          document.getElementById('error_required').style.display="block";

          return false;
        }
        else {
          document.getElementById('job_description').style.color="black";
          document.getElementById('job_description').style.border="gray 1px solid";
          document.getElementById('job_description').style.background="#fff";
          document.getElementById('error_job_description').style.display="none";
          document.getElementById('error_required').style.display="none";
        }
        msg = msg + w[x] + " ";
        c++;
      }
      if(c <= 200){
        // alert("less t han 200");
        //       return true;
      }

    }
    //alert(chkuser());

    if((name_apply.value.trim()=="")||(email_apply.value.trim()=="")||
      (specialization_apply.value.trim()=="")||(echeck(email_apply.value)==false)){
      if(name_apply.value.trim()==''){
        
        name_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
       
      }
  
      if(specialization_apply.value.trim()==""){
        
        specialization_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
        
      }

      if((email_apply.value.trim()=="")||(echeck(email_apply.value)==false)){
        
        email_apply.setAttribute('style', 'border:1px red solid; background:#ffefef;');
     
      }
      error_required.setAttribute('style', 'display:block; margin-left: 10px;');
      return false;
      
    }
    else {
      return true;
      //document.Qjobs.submit();
    }
  }
  
</script>
<div id="wrap"><!-- wrap -->
  <div id="jobs_top_bar">
    <!-- Search navigation links -->
     <% unless session[:search_string].blank? then %>
        <%  search_result_array = Array.new
        logger.info  "session[:search_string] : #{session[:search_string]}"
        @xapian_search_results = ActsAsXapian::Search.new([Job], session[:search_string], :limit => 10000, :joins => :user, :conditions => {:users => {:activate => 1}}, :sort_by_prefix => "updated_at")
        @xapian_search_results.results.each do | search_value |
          search_result_array << search_value[:model][:id]
        end
        if search_result_array.empty? then
          search_result_array = session[:search_result_spell_correction_array] unless session[:search_result_spell_correction_array].nil?
        end
        logger.info  "search_result_array : #{search_result_array.inspect}"
        index_value = search_result_array.index(@portfolio.id)
        logger.info  "search_result_array : #{index_value}" %>
        <% if index_value.nil? then %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">Back to HomePage</a>
          </div>
        <% else %>
          <div id="portfolio_top_bar_search">
            <a href="/portfolios">HomePage</a> |
            <a href="/portfolios/search?search_textfield=<%= session[:search_string] %>">Back to Search Results</a>
          </div>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value - 1].blank? then %>
            <div id="portfolio_top_bar_previous">
              <a href="/portfolios/show/<%= search_result_array[index_value - 1] %>">Previous Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% unless index_value.nil? then %>
          <% unless search_result_array[index_value + 1].blank? then %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[index_value + 1] %>">Next Portfolio</a>
            </div>
          <% else %>
            <div id="portfolio_top_bar_next">
              <a href="/portfolios/show/<%= search_result_array[0] %>">Next Portfolio</a>
            </div>
          <% end %>
        <% end %>
        <% session[:search_string] == "" %>
      <% else %>
        hello not this stuff
      <% end %>



    <div id="jobs_top_bar_search"><a href="/jobs">HOMEPAGE</a> | <a href="/jobs">BACK TO SEARCH RESULTS</a> </div>
      <div id="jobs_top_bar_previous"><a href="">PREVIOUS JOB</a></div>
        <div id="jobs_top_bar_next"><a href="">NEXT JOB</a></div>
  </div>
   <div id="main"><!-- main -->
    <h1><%=@job.job_title%></h1>
    <h2><%=@job.company_name%></h2>
    <h3><%=@job.location%></h3>
      <div id="description">
        <%=  RedCloth.new(@job.job_description).to_html %>
      </div>
    <div id="main_inner"><!-- main inner -->


      <% if session[:loggedin_user].nil? then %>
        <!--Apply job form-->
        <form method="post" action="/job_applications/create" enctype="multipart/form-data" name="QjobsApply" onsubmit="javascript:return validate();">
          <div id="QJob-Apply-RoundedShade" >
            <h4>Apply</h4>
            <div id="QJob-Apply">
              <div id="QJob-name">
                <input type="hidden" name="job_application[job_id]" value="<%= @job.id %>"/>
                <label>Name<span style="color:red;">*</span>
                </label>
                <input type="text" size="35"  id="name_apply" name="job_application[Name]" onblur="validation('name_apply','error_name');"/>

              </div>

              <div id="QJob-email">
                <label>Email<span style="color:red;">*</span></label>
                <input type="text" size="40" id="email_apply" name="job_application[email]" onblur="validation('email_apply','error_email');"/>
              </div>
              
              <div id="QJob-specialization">
                <label>Specialization<span style="color:red;">*</span></label>
                <input type="text" size="35" id="specialization_apply" name="job_application[specialization]" onblur="validation('specialization_apply','error_specialization');"/>
              </div>
              <label>Cover Letter</label>
              <textarea id="cover_letter" cols="20" rows="20" style="width:590px;" class="count[200]" onblur="count_words('cover_letter')" name="job_application[cover_letter]"></textarea>

            </div>
            <div id="QJob-Apply-Upload">
              <div>
                <p>Resume & Portfolio</p>
                <span>
                  <label>Upload your Resume</label>
                  <input id="upload_resume_input" size="38" type="file" name="job_application[resume]"/>
                  <div id="error_upload_resume_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
                or
                <span>
                  <label>Link to your Resume</label>
                  <input id="link_input" type="text" value="http://" name="job_application[resume_link]"/>
                  <div id="error_link_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
              </div>

              <div>
                <span>
                  <label>Upload your Portfolio</label>
                  <input type="file" size="38" name="job_application[portfolio]"/>
                </span>
                or
                <span>
                  <label>Link to your Portfolio</label>
                  <input id="link_input" type="text" value="http://" name="job_application[portfolio_link]"/>
                </span>
              </div>
            </div>


            <input type="submit" value="" id="job_apply_btn"/>
            <div class="error_msg" id="error_required">
              Please fill out the required data above
            </div>
          </div>

        </form>

      <% else %>
        <form method="post" action="/job_applications/create_after_login" enctype="multipart/form-data" name="QjobsApply" onsubmit="javascript:return validate();">
          <div id="QJob-Apply-RoundedShade" >
            <h4>Apply</h4>
            <div id="QJob-Apply">
              <div id="QJob-name">
                <input type="hidden" name="job_application[job_id]" value="<%= @job.id %>"/>
                <label>Name<span style="color:red;">*</span>
                </label>
                <input type="text" size="35"  id="name_apply" name="job_application[Name]" onblur="validation('name_apply','error_name');"/>

              </div>

              <div id="QJob-email">
                <label>Email<span style="color:red;">*</span></label>
                <input type="text" size="40" id="email_apply" name="job_application[email]" onblur="validation('email_apply','error_email');"/>

              </div>
              <div id="QJob-specialization">
                <label>Specialization<span style="color:red;">*</span></label>
                <input type="text" size="35" id="specialization_apply" name="job_application[specialization]" onblur="validation('specialization_apply','error_specialization');"/>

              </div>
              <label>Cover Letter</label>
              <textarea id="cover_letter" cols="20" rows="20" style="width:590px;" class="count[200]" onblur="count_words('cover_letter')" name="job_application[cover_letter]"></textarea>

            </div>
            <div id="QJob-Apply-Upload">
              <div>
                <p>Resume & Portfolio</p>
                <span>
                  <label>Upload your Resume</label>
                  <input id="upload_resume_input" size="38" type="file" name="job_application[resume]"/>
                  <div id="error_upload_resume_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
                or
                <span>
                  <label>Link to your Resume</label>
                  <input id="link_input" type="text" value="http://" name="job_application[resume_link]"/>
                  <div id="error_link_input" class="error_msg">
                    please provide resume
                  </div>
                </span>
              </div>

              <div>
                <span>
                  <label>Upload your Portfolio</label>
                  <input type="file" size="38" name="job_application[portfolio]"/>
                </span>
                or
                <span>
                  <label>Link to your Portfolio</label>
                  <input id="link_input" type="text" value="http://" name="job_application[portfolio_link]"/>
                </span>
              </div>
            </div>


            <input type="submit" value="" id="job_apply_btn"/>
            <div class="error_msg" id="error_required">
              Please fill out the required data above
            </div>
          </div>

        </form>
      <% end %>

    </div>

  </div>
</div>