<%#*<h1>Listing users</h1>%>

<%#*<table>%>
  <%#*<tr>%>
    <%#*<th>Firstname</th>%>
    <%#*<th>Lastname</th>%>
    <%#*<th>Email</th>%>
    <%#*<th>Password</th>%>
  <%#*</tr>%>

<%# @users.each do |user| %>
  <%#*<tr>%>
    <%#*<td><%=h user.firstname %>
    <%#*<td><%=h user.lastname %>
    <%#*<td><%=h user.email %>
    <%#*<td><%=h user.password %>
    <%#*<td><%= link_to 'Show', user %>
    <%#*<td><%= link_to 'Edit', edit_user_path(user) %>
    <%#*<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
  <%#*</tr>%>
<%# end %>
<%#*</table>%>

<%#*<br />%>

<%#= link_to 'New user', new_user_path %>