<h1>Editing favourite</h1>

<% form_for(@favourite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :job_posting_id %><br />
    <%= f.text_field :job_posting_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @favourite %> |
<%= link_to 'Back', favourites_path %>
