<p>
  <b>Name:</b>
  <%=h @job_application.Name %>
</p>

<p>
  <b>Email:</b>
  <%=h @job_application.email %>
</p>

<p>
  <b>Specialization:</b>
  <%=h @job_application.specialization %>
</p>

<p>
  <b>Cover letter:</b>
  <%=h @job_application.cover_letter %>
</p>

<p>
  <b>Resume link:</b>
  <%=h @job_application.resume_link %>
</p>

<p>
  <b>Portfolio link:</b>
  <%=h @job_application.portfolio_link %>
</p>


<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
