<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <%unless @name.nil? or @name.blank? then %>
      <title> DezineConnect: <%= @title %>  - <%= @name %> </title>
    <% else %>
      <title> DezineConnect: <%= @title %></title>
    <% end %>
    <!-- all css -->
    <%= stylesheet_link_tag 'all' %>
    <%= stylesheet_link_tag 'header' %>
    <%= stylesheet_link_tag 'footer' %>
    <%= stylesheet_link_tag 'sidebar' %>

  </head>
  <body onload="start()">
    <!-- header start -->
    <div id="header">
      <div id="header_mid"><!-- keeps in center & logo from css here -->
        <!--Logo start-->
        <div id="logo">
          <a href="http://www.dezineconnect.com">
            <img src="/images/logo.png" alt="logo"/>
          </a>
        </div>
        <!--Logo end-->
        <!--Logout part start-->
        <% unless session[:loggedin_user].nil? then %>

          <div id="directories_head_link">
            <a href="/directory/"> Design Companies </a>
          </div>

          <div id="header_link_separator1"> | </div>

          <div id="portrolio">
            <a href="/portfolios/"> Design Professionals </a>
          </div>

          <div id="header_link_separator2"> | </div>

          <div id="josb">
            <a href="/jobs"> jobs </a>
          </div>

          <div id="header_link_separator"> | </div>

          <div id="dlog">
            <a href="/dlog"> Interviews </a>
          </div>

          <% @user = User.find(session[:loggedin_user]) %>
          <% unless @user.firstname.length > 20 or @user.portfolio.nil? or @user.portfolio.blank? then %>
            <div id="logout">hi
              <a href="/portfolios/show/<%= @user.portfolio.id %>"><%= @user.firstname %></a> |
              <a href="/users/edit/<%= @user.id %>">edit</a> |
              <a href="/logout">logout</a>
            </div>
          <% else %>
            <% unless @user.firstname.length > 20 or @user.design_directory.nil? or @user.design_directory.blank? then %>
              <div id="logout">hi <a href="/design_directories/show/<%= @user.design_directory.id %>"><%= @user.firstname %></a> |
                <a href="/users/edit/<%= @user.id %>">edit</a> |
                <a href="/logout">logout</a>
              </div>
            <% else %>
              <div id="logout">hi <%= @user.firstname[0,18] %>&hellip; |
                <a href="/logout">logout</a>
              </div>
            <% end %>
          <% end %>
          <!--Logout part end-->

          <!--login part start-->
        <% else %>
          <% unless session[:directory_listing_obj].nil? or session[:directory_listing_obj].blank? then %>
            <style type="text/css">
              #portrolio a { color: #cccccc; }
              #directories_head_link { color: orange; }
            </style>
          <%else%>
          <%end%>
          <div id="directories_head_link">
            <a href="/directory/">Design Companies</a>
          </div>
          <div id="header_link_separator1"> | </div>
          <div id="portrolio">
            <a href="/portfolios/"> Design Professionals  </a>
          </div>
          <div id="header_link_separator2"> | </div>
          <div id="josb"><a href="/jobs"> jobs </a></div>
          <div id="header_link_separator"> |</div>
          <div id="dlog">
            <a href="/dlog">Interviews</a>
          </div>

          <div id="login">
            <a href="/login">login</a>
          </div>
          <% unless session[:is_admin].blank? then %>
            <div id="logout">
              <a href="/logout">logout</a>
            </div>
          <% end %>
          <!--login part end-->
        <% end %>
      </div>
      <!-- header_mid end -->
    </div>
    <!-- header end -->